@import "./mixin.scss";

.cell_contents {
    display: flex;
    & .contents_value {
        width: 100%;
        max-width: 80%;
    }
    & .contents_icon {
        width: 30px;
        min-width: 30px;
    }
}
.MuiBox-root {
    & .popup_top {
        background: linear-gradient(105deg, rgb(108 92 164) 0%,rgb(41 51 219 / 71%) 96%);
        /* float: revert; */
        height: 37px;
        padding: 0px;
        margin: 0px;
        position: relative;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        height: 32px;
        text-overflow: ellipsis;
        white-space: nowrap;
        -ms-user-select: none;
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        & .close_icon {
            font-size: 1.2rem;
            font-family: "Comic Sans MS", cursive;
            float: right;
            margin-right: 10px;
            font-weight: 800;
            opacity: 0.7;
            color: #fff;
            cursor: pointer;
            transition: opacity 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
            margin-top: 1px;
            &:hover {
                opacity: 1;
            }
        }
    
    }
    & .popup_contents {
        margin: 10px;
        .popup_tit {
            position: absolute;
            top: 0.7%;
            /* width: 300px !important; */
            font-size: 1rem;
            color: #ececec;
            font-weight: 600;
            filter: drop-shadow(1px 2px 5px #5a5e5e);
            text-overflow: ellipsis;
            white-space: nowrap;
            -ms-user-select: none;
            -moz-user-select: -moz-none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            user-select: none;
            &::before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 4px;
                height: 16px;
                background: linear-gradient(218deg, rgb(247 182 227 / 92%) 0%, rgb(175 175 175 / 62%) 96%);
                margin-right: 4px;
                margin-top: -4px;
                margin-left: 0.2rem;
            }
        }
    }
}
@include etc2 {
    .MuiBox-root {
        .popup_tit {
            position: absolute;
            top: 0.5%;
        }
    }
}
