.download_render {
    display: flex;
    width: 100%;
    & .download_file_tit {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    & .download_file_img {
        width: 23px;
        height: 23px;
        opacity: 0.7;
        margin-top: 0.16rem;
        box-shadow: inset 0px 0px 12px 2px #e3e0e9;
        border-radius: 29%;
        transition: opacity 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        &:hover {
            opacity: 1;
        }
        & .download_ico {
            width: 17px;
            height: 16px;
            float: right;
            margin: 0.3rem;
            filter: drop-shadow(2px 2px 5px #545353);
        }
    }
}