@import "../../mixin.scss";

.login_Main {
    background: linear-gradient(-45deg, #b589ef, #9b8d939c, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    @include etc2 {
        animation: gradient 5s ease infinite;
        width: 200vh;
    }
    @include etc6 {
        animation: gradient 5s ease infinite;
        width: 200vh;
    }
    & .back_main {
        position: absolute;
        display: flex;
        width: 800px;
        height: auto;
        background: #3b3b3b;
        min-height: 250px;
        padding: 10px 20px 5px 20px;
        transform: translate(-50%, -50%);
        top: 35%;
        left: 27.7%;
        color: #fff;
        border-radius: 6px;
        box-shadow: 5px 2px 4px 2px #0a0a0aba;
        flex-direction: column;
        height: 280px;
        -ms-user-select: none;
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        @include etc2 {
            width: calc(100% - 38px);
            padding: 10px 10px 5px 10px;
            position: fixed;
            transform: none;
            left: 0%;
            transform: translate(-50%, -35%);
            height: calc(100% - 50px);
            // box-shadow: none;
            margin-left: 5px;
            top: 20px;
        } 
        @include etc6 {
            width: calc(55% - 38px);
            padding: 10px 10px 5px 10px;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 0%;
            height: calc(100% - 50px);
            margin-left: 5px;
            top: 20px;
            left: 25%;
        }        
        & .back_tit {
            width: 100%;
            height: 100%;
            & .back_logo {
                height: 40px;
                margin-bottom: 15px;
            }
            & .tit_1 {
                font-weight: 600;
                font-size: 1.3rem;
                width: 100%;
                margin-left: 7px;
            }

            & .sub {
                margin: 10px;
                font-size: 15px;
                line-height: 25px;
                padding-left: 10px;

                & #add_img {
                    height: 15px;
                    position: relative;
                    cursor: pointer;
                    color: rgb(255 255 255);
                    top: 1px;
                    width: 20px;
                    background: #545353;
                    border-radius: 8px;
                }
            }

            & .bottom_info {
                bottom: 31px;
                position: absolute;
                color: #fff;
                display: flex;
                width: 100%;
                margin-top: 25px;
                @include etc2 {
                    display: flex;
                    bottom: 50px;
                    flex-direction: column;
                    align-items: center;
                    width: calc(100% - 25px);
                } 
                @include etc6 {
                    display: flex;
                    bottom: 50px;
                    flex-direction: column;
                    align-items: center;
                    width: calc(100% - 25px);
                }        
                & #siginBtn {
                    color: #fff;
                    border: 1px solid #fff0;
                    opacity: 0.7;
                    height: 40px;
                    width: 145px;
                    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    @include etc2 {
                        position: fixed;
                        top: 14px;
                        right: 0;
                    } 
                    &:hover {
                        background-color: #699d74;
                        opacity: 1;
                    }
                    & .MuiSvgIcon-root {
                        top: -1px;
                        position: relative;
                    }


                }

                & .com_info {
                    float: right;
                    margin-left: 3rem;
                    width: 100%;
                    @include etc2 {
                        margin-left: 0rem;
                        text-align: center;
                    }
                    @include etc6 {
                        margin-left: 0rem;
                        text-align: center;
                    }
                    & .info {
                        font-size: 1rem;
                        position: relative;
                        width: 20px;
                        top: 3px;
                        margin-right: 5px;
                        color: #a2e3b0;
                    }
                }
            }
        }

        & .back_mid {
            height: 25px;
            width: 100%;
            color: #767676;
            margin-left: 65px;
            font-weight: 500;
            font-family: emoji;
            line-height: 35px;
            -ms-user-select: none;
            -moz-user-select: -moz-none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            user-select: none;
            transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            @include etc2 {
                text-align: center;
                margin-left: 0px;
            }  
            @include etc6 {
                text-align: center;
                margin-left: 0px;
            }     
            &:hover {
                color: #fff;
                & .MuiSvgIcon-root {
                        color: #92c79e !important;
                }
            }
            & .MuiSvgIcon-root {
                height: 14px;
                position: relative;
                top: 2px;
                color: #6b9174;
                transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            }
        }
    }

    & .login_page {
        transform: translate(25%, -50%);
        top: 50%;
        left: 50%;
        align-items: center;
        background: #fff;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 6px;
        width: 300px;
        height: 350px;
        box-shadow: 2px 2px 12px 2px #56565cba;
        @include etc2 {
            top: 30%;
            box-shadow: none;
            height: 275px;
            width: calc(100% - 50px);
            left: 15px;
            transform: none;
        }
        @include etc6 {
            top: 50%;
            box-shadow: none;
            width: calc(50% - 28px);
            left: 15px;
            transform: translate(53%, -50%);
        }  
        & .login_tit {
            font-size: 2rem;
        }

        & .navi_contents {
            width: 100%;
            height: 85px;
            margin: 5px 0px 0px 21px;

            & #navi {
                cursor: pointer;
            }
        }

        & .wing {
            position: absolute;
            left: 83%;
            filter: drop-shadow(2px 2px 2px black);
            height: 69px;
            width: 72px;
            top: -2%;

            @include etc2 {
                position: absolute;
                filter: none; 
                height: 69px;
                width: 72px;
                top: 4%;
                left: 58%;
            }
            @include etc6 {
                position: absolute;
                filter: none; 
                height: 69px;
                width: 72px;
                top: 4%;
                left: 58%;
            }
        }
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
}