@import "../../mixin.scss";
.home_main {
    height: 100%;
    & .contents_wrap {
        background: #f7f9fc !important;
        @include etc3 {
            overflow: auto;
        }
        & .main_contents {
            background: #dde8f7;
            margin-top: 5px;
            padding: 5px;
            border-radius: 12px;
            box-shadow: rgb(121 121 153 / 55%) 0px 2px 5px -1px, rgb(98 100 183 / 25%) 0px 1px 3px -1px;
            width: calc(100% - 10px);
            & .top {
                display: flex;
                @include etc3 {
                    flex-direction: column;
                }
                & .todo {
                    width: 35%;
                    @include etc3 {
                        width: 100%;
                    }
                    & .todo_01 {
                        display: flex;
                        @include etc3 {
                            flex-direction: column;
                        }

                        & .none_active {
                            background-color: #6a6868 !important;
                            color: #f9f9f9 !important;
                            &:hover {
                                background-color: #837d7d !important;
                                color: #ffffff !important;
                                cursor: no-drop;
                            }
                        }
                        & .todo_02 {
                            width: 100%;
                            height: 130px;
                            background: #ffffffd1;
                            margin: 10px 5px 5px 5px;
                            padding: 5px 10px 5px 10px;
                            border-radius: 8px;
                            box-shadow: rgb(50 50 93 / 2%) 0px 2px 5px -1px, rgb(0 0 0 / 5%) 0px 1px 3px -1px;
                            transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
                            cursor: pointer;
                            @include etc3 {
                                width: calc(100% - 30px);
                            }
                            &:before {
                                background-image: url('./../../style/img/to-do-list.png');
                                content: "";
                                display: inline-block;
                                vertical-align: middle;
                                width: 50px;
                                height: 44px;
                                background-size: 45px 40px;
                                background-repeat: no-repeat;
                                position: relative;
                                top: -11px;
                                left: -15px;
                                border-radius: 10px;
                                filter: drop-shadow(1px 2px 2px #816464);
                                background-color: #f3c1c1;
                            }
    
                            & .home_tit {
                                position: relative;
                                width: max-content;
                                text-align: -webkit-left;
                                font-size: 17px;
                                /* position: absolute; */
                                top: -47px;
                                left: 45px;
                                font-weight: 600;
                            }
                            & .info_ctn {
                                font-size: 55px;
                                font-family: fantasy, math !important;
                                line-height: 20px;
                                margin-left: 25px;
                                height: 60px;
                                font-weight: 300 !important;
                                filter: none !important;
                                width: 100%;
                                & .info_tit {
                                    font-size: 1.9rem;
                                    font-weight: 600;
                                    position: relative;
                                    top: -3px;
                                    left: 5px;
                                }
                            }
                        }

                        & #todo_proc {
                            background-image: url('./../../style/img/wiring.png');
                            background-size: 80px 70px;
                            background-repeat: no-repeat;
                            background-position-x: calc(100% - 20px);
                            background-position-y: 43px;
                            color: #4a4a4a;
                            transition: background-color 350ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, color 350ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
                            &:hover {
                                background-color: #8b767c;
                                color: #fdfdfd;
                                box-shadow: #7c7c7c 0px 2px 5px -1px, #acbced 0px 1px 3px -1px;
                            }
                        }

                        & #todo_appr {
                            background-image: url('./../../style/img/validation.png');
                            background-color: #f5f9ff8c;
                            background-size: 80px 70px;
                            background-repeat: no-repeat;
                            background-position-x: calc(100% - 20px);
                            background-position-y: 41px;
                            color: #376fd0;
                            transition: background-color 350ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, color 350ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
                            &:hover {
                                background-color: #8b767c;
                                color: #fdfdfd;
                                box-shadow: #7c7c7c 0px 2px 5px -1px, #acbced 0px 1px 3px -1px;
                            }
                        }

                        & #todo_reg {
                            background-image: url('./../../style/img/working.png');
                            background-color: #f5f9ff8c;
                            background-size: 80px 70px;
                            background-repeat: no-repeat;
                            background-position-x: calc(100% - 20px);
                            background-position-y: 43px;
                            color: #376fd0;
                            transition: background-color 350ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, color 350ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
                            &:hover {
                                background-color: #8b767c;
                                color: #fdfdfd;
                                box-shadow: #7c7c7c 0px 2px 5px -1px, #acbced 0px 1px 3px -1px;
                            }
                        }

                        & #todo_eval {
                            background-image: url('./../../style/img/excellence.png');
                            background-size: 80px 70px;
                            background-repeat: no-repeat;
                            background-position-x: calc(100% - 20px);
                            background-position-y: 43px;
                            color: #4a4a4a;
                            transition: background-color 350ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, color 350ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
                            &:hover {
                                background-color: #8b767c;
                                color: #fdfdfd;
                                box-shadow: #7c7c7c 0px 2px 5px -1px, #acbced 0px 1px 3px -1px;
                            }
                        }
                    }
    
                }
    
                & .chart {
                    width: 65%;
                    text-align: center;
                    align-self: center;
                    background: #ffffffd1;
                    height: 296px;
                    margin-top: 5px;
                    border-radius: 6px;
                    box-shadow: rgb(50 50 93 / 2%) 0px 2px 5px -1px, rgb(0 0 0 / 5%) 0px 1px 3px -1px;
                    display: flex;
                    margin-left: 20px;
                    margin-right: 5px;
                    // max-width: 1200px;
                    @include etc3 {
                        flex-direction: column;
                        height: 100%;
                        width: calc(100% - 10px);
                        margin-left: 0px;
                        margin-right: 0px;
                    }
                    &:before {
                        background-image: url('./../../style/img/graph.png');
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        background-repeat: no-repeat;
                        position: relative;
                        top: -7px;
                        left: -15px;
                        border-radius: 10px;
                        filter: drop-shadow(1px 2px 2px #ccc);
                        background-color: #f3c1c1;
                        position: relative;
                        width: 50px;
                        height: 44px;
                        background-size: 35px 35px;
                        background-position-x: 7px;
                        min-width: 50px;
                        background-position-y: 5px;
                        @include etc3 {
                            left: -3px;
                        }
                    }

                    & .chart_contents {
                        padding: 0px 10px 10px 10px;
                        width: 100%;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        min-height: 150px;
                        height: 100%;

                        & text.recharts-text.recharts-cartesian-axis-tick-value {
                            fill: #bf4c4c;
                            filter: drop-shadow(1px 2px 3px #aba6a6);
                        }

                        & text.recharts-text.recharts-polar-angle-axis-tick-value {
                            fill: #bf4c4c;
                            filter: drop-shadow(1px 2px 3px #aba6a6);
                        }

                        & .recharts-legend-wrapper {
                            width: 100% !important;
                        }

                        & .recharts-default-legend {
                            padding-inline-start: 55px !important;
                            position: relative;
                            top: 5px;
                            @include etc3 {
                                padding-inline-start: 30px !important;
                            }
                        }

                        & .chart_main {
                            width: 100% !important;
                            height: calc(100% - 60px) !important;
                        }

                        & #radar_chart {
                            height: calc(100% - 75px) !important;

                            & .recharts-default-legend {
                                padding-inline-start: 0px !important;
                            }
                        }

                        & .chart_tit_info {
                            height: 50px;
                            font-weight: 600;
                            font-size: 1.3rem;
                            padding: 10px 0px 10px 0px;
                            text-align: center;
                            & .tit {
                                font-size: 18px;
                                background: #ebf2fb;
                                padding: 5px;
                                color: #376fd0;
                                border-radius: 14px;
                            }
                        }
                    }

                    & #chart_split_01 {
                        width: 500px;
                        @include etc3 {
                            width: calc(100% - 20px);
                        }
                        @include etc4 {
                            width: 300px;
                        }

                        @include etc5 {
                            width: 350px;
                        }
                    }

                    & .chart_split {
                        width: calc(100% - 570px);
                        @include etc3 {
                            height: 300px;
                            width: calc(100% - 20px);
                        }
                        @include etc4 {
                            width: calc(100% - 370px);
                        }

                        @include etc5 {
                            width: calc(100% - 420px);
                        }
                        & .carousel-root {
                            height: 100%;
                            & .carousel-slider {
                                height: 100%;
                                
                                & .slider-wrapper {
                                    height: 100%;
                                }

                                & .slider {
                                    height: 100%;
                                }   
                            }
                            & .recharts-tooltip-wrapper {
                                max-height: 100px;
                            }

                            & .recharts-surface {
                                position: relative;
                                top: -2px
                            }
                        }

                    }
                    // & #home_chart_1 {
                    //     max-width: 35%;
                    // }

                    // & #home_chart_3 {
                    //     max-width: 250px
                    // }
                }
            }
        }


        & .main_cotents_p {
            display: flex;
            height: calc(100% - 330px);
            margin-top: 5px;
            @include etc3 {
                flex-direction: column;
                height: auto;
            }
            & #contents_01 {
                margin-right: 15px;
                width: 50%;
                background: #f9fbfe;
                @include etc3 {
                    width: calc(100% - 10px);
                    height: 50%;
                    overflow: auto;
                }
                & .MuiTabPanel-root {
                    padding: 5px !important;
                    height: calc(100% - 50px);
                }

                & .contents_01_header  {
                    width: 100%;
                    display: flex;
                    & .header_tit {
                        width: 100%;
                        background: #fdcccd;
                        padding: 5px;
                        color: #e95b5b;
                        border-radius: 14px;
                        text-align: -webkit-center;
                        font-size: 18px;
                        font-weight: 900;
                    }

                    // & .header_btn {
                    //     display: flex;
                    //     & .MuiButtonBase-root .MuiBadge-badge {
                    //         min-width: 10px !important;
                    //         width: 10px !important;
                    //         height: 10px !important;
                    //         padding: 8px !important;
                    //         opacity: 0.8 !important;
                    //         background: #dd3434 !important;
                    //         font-size: 11px;
                    //     }
                    // }
                }

                & #contents_01_contents {
                    margin-top: 10px;
                    height: calc(100% - 47px);
                    overflow: auto;
                    & .search_wrap {
                        background: #ebf2fb;
                        border-radius: 5px;
                        width: calc(100% - 10px);
                        margin: 0px 5px 0px 5px;
                        padding: 0px;
                        box-shadow: rgb(50 50 93 / 2%) 0px 2px 5px -1px, rgb(0 0 0 / 5%) 0px 1px 3px -1px;

                        & .MuiIconButton-root {
                            padding: 8px !important;
                        }
                    }
                    & .contents_wrap {
                        box-shadow: none;
                    }
                }
            }

            & #contents_02 {
                width: 50%;
                background: #f9fbfe;
                @include etc3 {
                    width: calc(100% - 10px);
                    height: 50%;
                    overflow: auto;
                    min-height: 500px;
                }
                & .contents_02_header  {
                    width: 100%;
                    display: flex;
                    & .header_tit {
                        width: 100%;
                        background: #ebf2fb;
                        padding: 5px;
                        color: #376fd0;
                        border-radius: 14px;
                        text-align: -webkit-center;
                        font-size: 18px;
                        font-weight: 900;
                    }
                }

                & #contents_02_contents {
                    height: calc(100% - 35px);

                    & .scalendar {
                        height: 100%;

                        & .b-calendar.b-outer {
                            height: calc(100% - 44px);
                            @include etc2 {
                                height: calc(100% - 4px) !important;
                                position: relative;
                                top: -40px;
                            }
                        }

                        & .b-hbox {
                            padding-right: 1px;
                        }

                        & #b-monthview-1 {
                            min-height: 400px !important;
                        }

                        & .b-cal-agenda {
                            min-height: 460px;
                        }
                    }
                }
            }
        }

    }
    
    & .carousel-status {
        position: absolute;
        top: 0px !important;
        right: 0 !important;
        padding: 5px !important;
        font-size: 12px !important;
        text-shadow: none !important;
        color: #f91414 !important;
        background: #ffaeae !important;
        border-radius: 16px !important;
        font-weight: 500 !important;
        opacity: 0.6;
    }
    
    & .control-dots {
        display: none !important;
    }

    & .MuiTabs-root {
        min-height: 30px !important;
        height: 30px;
        width: calc(100% - 30px);
        margin: 0px 10px 0px 10px;
        border-radius: 6px;
        color: #376fd0;
        & .Mui-selected {
            color: #1976d2;
            background: #ebf2fb;
            border-start-end-radius: 12px;
            border-start-start-radius: 12px;
        }
        & .MuiButtonBase-root {
            min-height: 30px !important;
            height: 30px;
            font-size: 14px;
            font-weight: 600;
            width: 50%;
        }
        & .MuiTabs-indicator {
            background: #8a9ee9 !important;
        }
    }

    & .MuiCircularProgress-root {
        position: relative;
        left: 50%;
        top: 50%;
    }

}

