.public_report_main {
        height: 100%;
        background-color: transparent;    
        & .reg_info {
            background: #f6f7fa;
            padding: 3px 10px 5px 10px;
            margin-bottom: 6px;
            border-radius: 7px;
            font-size: 1rem;
            overflow: auto;
            border: 1px solid #b7a9a952;
            box-shadow: 2px 2px 4px #dfdfdf;
            transition: width 50ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, height 50ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
            margin: 5px;
            & .reg_main_tit {
                filter: drop-shadow(1px 1px 2px #ccc);
                font-weight: 700;
                height: 42px;
                display: flex;
                & .tit {
                    align-self: center;
                    display: flex;
                    width: 100%;
                    padding-bottom: 9px;
                    &::before {
                        content: "";
                        display: inline-flex;
                        vertical-align: middle;
                        width: 4px;
                        height: 15px;
                        background: linear-gradient(34deg, rgba(177, 209, 255, 0.98) 0%, rgba(146, 155, 255, 0.97) 96%) !important;
                        margin-right: 6px;
                        margin-top: 3px;
                        filter: drop-shadow(1px 1px 1px black);
                    }
    
                    & .tit_01 {
                        font-size: 0.95rem;
                    }
    
                    & .tit_02 {
                        font-size: 0.8rem;
                        color: #fbfbfb;
                        padding: 2px 5px 2px 5px;
                        border-radius: 10px;
                        filter: drop-shadow(2px 1px 2px #ccc);
                        margin-left: 10px;
                    }
                }
    
                & .search_btns {
                    text-align-last: right;
                    width: 100%;
                }
            }
            
            & .reg_main_contents {
                display: flex;
                flex-direction: column;
                padding: 0px 8px 3px 8px;
                & .MuiPaper-root {
                    height: 35px;
                    margin-right: 8px;
    
                    & #pjtNm {
                        font-size: 0.8rem;
                        line-height: 1.3;
                        -webkit-text-fill-color: #4f73c3;
                        font-weight: 700;
                    }
    
                    & .MuiIconButton-root {
                        padding: 4px !important;
                    }
    
                    & .MuiFormControlLabel-labelPlacementStart {
                        margin-left: 5px;
                        margin-right: 4px;
                        flex-direction: row-reverse;
                    }
    
                    & .MuiCheckbox-root {
                        padding: 5px;
                        color: #7584eb;
                    }
                }
                
                & .reg_contents {
                    display: flex;
                    margin-top: 10px;
                    & .pl_desc {
                        border-radius: 15px;
                        & .pl_desc_sub_1 {
                            color: #bd1717;
                            margin-top: 3px;
                            filter: drop-shadow(2px 2px 3px #ccc);
                            padding-left: 15px;
                            font-weight: 700;
                            font-size: 0.8rem;
                            float: left;
                        }
                        & .pl_desc_sub_2 {
                            margin-left: 27px;
                            /* padding-top: 2px; */
                            font-weight: 600;
                            font-size: 0.8rem;
                            width: calc(100% - 10px);
                            display: flex;
                            color: #3e3c3c;
                            filter: drop-shadow(1px 1px 3px #ccc);
                        }
                    }
    
                    & .MuiTextField-root {
                        padding-right: 10px;
                    }
    
                    & .MuiInputLabel-sizeSmall {
                        padding-right: 10px;
                    }
    
                    & .MuiFormHelperText-root {
                        color: #c73838cc;
                        filter: drop-shadow(1px 2px 2px #ccc);
                        font-weight: 700;
                        font-size: 11px;
                        margin: 1px 4px 0px 3px;
                        position: absolute;
                        top: 40px;
                        width: max-content;
                    }
    
                    & .text_area {
                        width: 100%;
                        height: 100%;
                        & .MuiInputBase-root {
                            min-height: 80px;
                        }
                    }
    
                    & #radio_main {
                        background: #fff;
                        padding-left: 1px;
                        border-radius: 4px;
                        border: 1px solid #ccc;
                        height: 38px;
                        min-width: fit-content;
                        margin-right: 10px;
                        
                        & #radio_group {
                            font-family: "Roboto","Helvetica","Arial",sans-serif;
                            font-weight: 800;
                            font-size: 12px;
                            line-height: 1.4375em;
                            letter-spacing: 0.00938em;
                            width: fit-content;
                            padding: 0px 5px 0px 5px;
                            filter: drop-shadow(1px 1px 1px #ccc);
                            margin: 1px 2px 0px 2px;
                        }
                        & .MuiFormControlLabel-root {
                            cursor: pointer;
                            display: inline-flex;
                            align-items: center;
                            margin-left: 5px;
                            margin-right: 6px;
                            vertical-align: middle;
                            -webkit-tap-highlight-color: transparent;
                        }
    
                        & .MuiButtonBase-root {
                            padding: 0px !important;
                            min-width: 18px;
                        }
    
                        & .MuiSvgIcon-root {
                            fill: currentColor;
                            width: 1em;
                            height: 0.9em;
                            display: inline-block;
                            font-size: 0.9rem;
                            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                            flex-shrink: 0;
                            user-select: none;
                            margin-bottom: 0.1rem;
                        }
    
                        & .MuiTypography-body1 {
                            font-size: 0.8rem;
                        }
                    }
                }
    
                & .grid_contents {
                    width: 100%;
                    & .grid_top {
                        display: flex;
                        height: fit-content;
                        & .grid_tit {
                            font-size: 0.9rem;
                            line-height: 2.5rem;
                            width: 100%;
                            font-weight: 600;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            &::before {
                                content: "";
                                display: inline-flex;
                                vertical-align: middle;
                                width: 2px !important;
                                height: 12px !important;
                                background: linear-gradient(34deg, rgb(255 149 149 / 98%) 0%, rgb(255 141 87 / 97%) 96%) !important;
                                margin-right: 4px !important;
                                margin-top: -5px !important;
                                filter: drop-shadow(1px 1px 1px #000) !important;
                            }
                        }   
    
                        & .grid_btn_contents {
                            width: -webkit-fill-available;
                            text-align-last: right;
                            & .btn_group {
                                width: 40px;
                                height: 40px;
                                color: #4452bdcc;
                                filter: drop-shadow(2px 2px 1px #ccc);
                            }
                        }
                    }
                }
    
                & .file_upload {
                    width: 100%;
                    height: 100%;
                    & .file_item {
                        & .MuiButtonBase-root {
                            padding: 8px;
                        }
                    }
                        
                    & .tit {
                        &::before {
                            content: "";
                            display: inline-flex;
                            vertical-align: middle;
                            width: 2px !important;
                            height: 12px !important;
                            background: linear-gradient(34deg, rgb(255 149 149 / 98%) 0%, rgb(255 141 87 / 97%) 96%) !important;
                            margin-right: 4px !important;
                            margin-top: -5px !important;
                            filter: drop-shadow(1px 1px 1px #000) !important;
                        }
                    }
                }
            }
    
            & .appr_main {
                margin-top: 10px;
                background: #e3e7f5;
                padding: 10px;
                border-radius: 12px;
                & .reg_main_tit {
                    filter: drop-shadow(1px 1px 2px #ccc);
                    font-weight: 700;
                    height: 25px;
                    &::before {
                        content: "";
                        vertical-align: middle;
                        width: 4px;
                        height: 15px;
                        background: linear-gradient(34deg, rgb(219 133 133 / 98%) 0%, rgb(255 157 157 / 97%) 96%) !important;
                        margin-right: 7px;
                        margin-top: 3px;
                        filter: drop-shadow(1px 1px 1px black);
                    }
                    & .tit {
                        &::before {
                            display: none;
                        }
                    }
                }
                & .reg_main_contents {
                    display: flex;
                    flex-direction: column;
                    padding: 0px 8px 3px 8px;
                    & .MuiPaper-root {
                        height: 35px;
                        margin-right: 8px;
                        // border: 1px solid #ccc;
                        & .MuiIconButton-root {
                            padding: 4px !important;
                        }
        
                        & .MuiFormControlLabel-labelPlacementStart {
                            margin-left: 5px;
                            margin-right: 4px;
                            flex-direction: row-reverse;
                        }
    
                        & .appr_info {
                            width: max-content;
                            min-width: 125px;
                            height: 20px;
                            text-align: right;
                            & #apprDeptNm {
                                font-size: 0.8rem;
                                font-weight: 600;
                                color: #891919cc;
                                margin: 0px 3px;
                            }
                            & #apprEmpNm {
                                font-size: 0.93rem;
                                line-height: 1.3;
                                color: #4f73c3;
                                font-weight: 700;
                                margin-right: 10px;
                            }
                        }
                    }
                    
                    & .reg_contents {
                        display: flex;
                        margin-top: 10px;
                        & .MuiTextField-root {
                            padding-right: 10px;
                        }
        
                        & .MuiInputLabel-sizeSmall {
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
}