.swal2-container.swal2-top-end {
    padding-right: 1.7rem;
    padding-top: 1.2rem;
}

.swal2-styled:focus {
    outline:0;
    box-shadow:0 0 0 0
}

.swal2-icon-show {
    animation: none !important;
    -webkit-animation: none !important;
    & * {
        animation: none !important;
        -webkit-animation: none !important;
    }
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .1em !important;
    background: initial;
    background-color: #6271cc;
    color: #fff;
    font-size: 0.85em !important; 
}
.swal2-styled.swal2-cancel {
    border: 0;
    border-radius: .1em !important;
    background: initial;
    background-color: #aaa;
    color: #fff;
    font-size: 0.85em !important; 
}
.swal2-actions {
    z-index: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0.5em auto 0 !important;
}
.swal2-popup {
    position: fixed;

    & .meg_contents {
        filter: drop-shadow(1px 2px 5px #ccc);
        font-weight: 600;
    }
    & .error {
        color: #df4545;
    }
    &::before {
        content: "";
        position: absolute;
        background-image: url(../../style/img/ls_logo_wing.png);
        background-repeat: no-repeat;
        background-size: 5.5rem 4.5rem;
        background-position-x: right;
        filter: drop-shadow(1px 1px 4px black);
        height: 50px;
        width: 100%;
        margin-left: 1.2rem;
        top: -0.4rem;
    }
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 32em;
    max-width: 100%;
    padding: 1em;
    border: none;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    font-family: inherit;
    font-size: 15px;
    box-shadow: 1px 2px 6px #000;
    width: 25rem;

}

.swal2-title {
    font-size: 1.3rem;
    filter: drop-shadow(3px 3px 2px #ccc);
    color: #596999;
    padding: 0 !important;
}

.swal2-styled {
    padding: 0.625em 1.5em;
}
.swal2-container {
    z-index: 99999;
}

.swal2-icon {
    filter: drop-shadow(1px 1px 1px black);
    width: 3em !important;
    height: 3em !important;
    margin: 0em auto .6em !important;
}

.swal2-warning {
    border-color: #ffffff00 !important;
    color: #fe004f59 !important;
    font-weight: 700;
}

.swal2-icon .swal2-icon-content {
    font-size: 2.75em !important;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    display: block;
    position: absolute;
    top: 1.4125em;
    width: 1.8em;
    height: 0.3125em;
    border-radius: 0.125em;
    background-color: #f27474;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left] {
    left: 0.6em;
    transform: rotate(45deg);
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right] {
    right: 0.6em;
    transform: rotate(-45deg);
}

.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=left] {
    display: none;
}

.swal2-icon.swal2-success.swal2-icon-show .swal2-success-line-tip {
    -webkit-animation: none !important;
    animation: none !important; 
}

.swal2-icon.swal2-success.swal2-icon-show .swal2-success-circular-line-right {
    -webkit-animation: none !important;
    animation: none !important; 
}

.swal2-icon.swal2-success {
    // -webkit-animation: swal2-animate-error-icon .5s !important;
    // animation: swal2-animate-error-icon .5s !important; 
}

.swal2-icon.swal2-success.swal2-icon-show .swal2-success-line-long {
    -webkit-animation: none !important;
    animation: none !important; 
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=tip] {
    top: 1.775em !important; 
    left: 0.3125em !important; 
    width: 1.3625em !important; 
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
    height: 0.3125em !important;
    border-radius: 0.125em !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
    top: 1.585em !important;
    right: 0.028em !important;
    width: 2em !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
    top: -0.25em !important;
    left: -0.25em !important;
}

.swal2-icon.swal2-success .swal2-success-fix {
    display: none;
}

.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=right] {
    display: none;
}

.swal2-html-container {
    margin: 20px 0px 5px 0px;

    & .fix_emp_info {
        display: flex;
        justify-content: right;
        position: relative;
        margin: 0px !important;
        right: 0;

        & .fix_dept_nm {
            color: #5b59c5;
            font-size: 0.8rem;
            line-height: 22px;
            margin-right: 5px;
            font-weight: 600;
        }

        & .fix_emp_nm {
            color: #233c83;
            font-weight: 900;
            font-size: 0.91rem;
            line-height: 21px;
        }
    }

    & .fix_emp_desc {
        font-size: 0.96rem;
        margin-top: 10px;
        text-align: left;
        min-height: 50px;
    }


    & .rev_confirm {
        display: flex;
        margin: 0px !important;
        right: 0;
        /* flex-direction: column; */
        text-align: right;
        width: 100%;

        & .equip_tit{
            width: 100%;
            font-size: 0.85rem;
            font-weight: bolder;
            line-height: 21px;
            margin-right: 5px;
            position: relative;
            top: 1px;
            color: #4c4e60;
        }
        & .equip_nm{
            color: #4667c5;
            font-weight: 900;
            font-size: 0.91rem;
            line-height: 20px;
            width: max-content;
            min-width: fit-content;
            padding: 0px 10px;
            background: #cbe6fb;
            border-radius: 12px;
            font-family: Comic Sans MS;
        }
    }
    
    & .rev_tit{
        
        & .rev_tit_conts {
            width: 100%;
            text-align: center;
            margin-top: 5px;
            font-size: 1rem;
            font-weight: 700;
        }
    }

    & .rev_day {
        display: flex;
        flex-direction: column;
        line-height: 26px;
        margin: 10px;

        & .rev_day_cont {
            width: calc(100% - 15px);
            display: flex;
            margin-left: 15px;

            & .day_cont1 {
                margin-right: 10px;
                font-weight: 600;
                line-height: 26px;
                width: 120px;
                text-align: left;
                & .force_tit{
                    padding: 2px;
                    margin: 0px 3px 0px 3px;
                    border-radius: 8px;
                    background: #ffcaca;
                    color: #d94f4f;
                    position: relative;
                    font-size: 13px;
                    top: 0px;
                    min-height: 30px;
                    min-width: 30px;
                    font-family: 'Comic Sans MS';
                }
            }

            & .day_cont2 {
                font-size: 17px;
                line-height: 29px;
                font-weight: 600;
                color: #c76f6f;
                filter: drop-shadow(1px 1px 6px #ccc);
            }
        }
    }
}
