.reg_proc_main {
    & .reg_info {
        background: #f6f7fa;
        padding: 3px 10px 5px 10px;
        margin-bottom: 6px;
        border-radius: 7px;
        font-size: 1rem;
        overflow: auto;
        border: 1px solid #b7a9a952;
        box-shadow: 2px 2px 4px #dfdfdf;
        transition: width 50ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, height 50ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        & .reg_main_tit {
            filter: drop-shadow(1px 1px 2px #ccc);
            font-weight: 700;
            display: flex;
            height: 42px;
            & .tit {
                align-self: center;
                display: flex;
                width: 100%;
                &::before {
                    content: "";
                    display: inline-flex;
                    vertical-align: middle;
                    width: 4px;
                    height: 15px;
                    background: linear-gradient(34deg, rgba(177, 209, 255, 0.98) 0%, rgba(146, 155, 255, 0.97) 96%) !important;
                    margin-right: 6px;
                    margin-top: 3px;
                    filter: drop-shadow(1px 1px 1px black);
                }

                & .tit_01 {
                    font-size: 0.95rem;
                }

                & .tit_02 {
                    font-size: 0.8rem;
                    color: #fbfbfb;
                    padding: 2px 5px 2px 5px;
                    border-radius: 10px;
                    filter: drop-shadow(2px 1px 2px #ccc);
                    margin-left: 10px;
                    & .mng_info_dept {
                        font-size: 0.75rem;
                        margin-right: 4px;
                        color: #fdfdfd;
                        filter: drop-shadow(0px 1px 3px black);
                    }
                }
            }

            & .search_btns {
                text-align-last: right;
            }
        }
    }

    & .reg_contents {
        & .seditor {
            width: 100%;
            margin-top: -0.9rem;
            & .tit {
                &:before {
                    content: "";
                    display: inline-flex;
                    vertical-align: middle;
                    width: 2px;
                    height: 12px;
                    background: linear-gradient(34deg, rgba(177, 209, 255, 0.98) 0%, rgba(146, 155, 255, 0.97) 96%) !important;
                    margin-right: 6px;
                    margin-top: -5px;
                    filter: drop-shadow(1px 1px 1px black);
                }
            }
            & .fr-element {
                min-height: 125px !important;
            }

        }   
    }


}