.main_btm {
    & .main_btm_expand {
        background-image: url('/src/style/img/research.png');
        background-size: 142px;
        background-repeat: no-repeat;
        background-position-x: 113px;
        min-height: 60px;
        background-position-y: 3px;
        padding-left:0.3rem;
        filter: drop-shadow(2px 2px 4px black);
        text-overflow: ellipsis;
        white-space: nowrap;
        -ms-user-select: none;
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        & .main_btm_top {
            font-size: 0.9rem;
            font-weight: 700;
            color: #82cf92;
        }
        & .main_btm_contents {
            font-size: 0.9rem;
            font-weight: 600;
            color: #93a3df;
        }
    }
    & .main_btm_img {
        margin: 1.2rem;
        height: 1.3rem;
        max-width: 60px;
        // &:hover{
        //     filter: invert(0.8);
        // }
    }
    & #main_btm_tooltip{
      width: 8rem;  
    }
}