@import '~@bryntum/calendar/calendar.material.css';
@import '../../../../mixin.scss';

.scalendar {
    overflow: auto;
    height: calc(100vh - 60px);
    & .scalendar_toolbar {
        display: flex;
        margin-bottom: 0.5rem;
        width: calc(100% - 0.5rem);
        @include etc2 {
            flex-direction: column;
            margin-top: 15px;
        }
        & .scalendar_tit {
            width: 100%;
            line-height: 1rem;
            text-align: left;
            font-size: 0.86rem;
            font-weight: 700;
            height: 100%;
            align-self: center;
            &:before {
                content: "";
                display: inline-flex;
                vertical-align: middle;
                width: 4px;
                height: 15px;
                background: linear-gradient(34deg, rgb(255 181 181 / 98%) 0%, rgb(237 50 50 / 97%) 96%) !important;
                margin-right: 7px;
                margin-top: -6px;
                margin-left: 5px;
                filter: drop-shadow(1px 1px 1px black);
            }
        }

        & .search_btns {
            height: 35px;
            position: relative;
            width: 40px;
            top: -2px;
            text-align: -webkit-right;
            @include etc2 {
                height: 35px;
                position: relative;
                width: 100%;
                top: -62px;
            }

            & .MuiButtonBase-root {
                margin: 6px !important;
                padding: 4px !important;
            }
        }
        & .scalendar_rev_desc {
            display: flex;
            width: max-content;
            height: 30px;
            align-items: center;
            margin-top: 5px;

            & .desc_contents {
                padding: 0px 5px;
                display: flex;
                white-space: nowrap;
                -ms-user-select: none;
                -moz-user-select: -moz-none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                user-select: none;
                & .desc_color {
                    color: rgba(255, 255, 255, 0);
                    border-radius: 50px;
                    margin-right: 6px;
                    font-size: 17px;
                    height: 10px;
                    position: relative;
                    line-height: 12px;
                    top: 3px;
                    filter: drop-shadow(1px 1px 1px #ccc);
                    border: 1px solid #b7b6b6;
                }

                & .desc_tit {
                    font-weight: 700;
                    color: #5c5c5c;
                }
            }
        }
    }

    & .b-cell-events-badge {
        display: flex;
        align-content: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 63%;
        background-color: #ebf2fb;
        color: #4277d3;
        width: 2.2em;
        height: 5.2em;
        font-weight: 900;
        margin-left: 1px;
    }

    & .tit_desc {
        font-size: 0.8rem;
        background: #fdcccd;
        border-radius: 6px;
        padding: 0px 2px 0px 2px;
        font-weight: 700;
        color: #f97071;
        height: max-content;
        min-height: 18px;
        text-align: -webkit-center;
        max-width: 100px;
        margin: 1px;
    }

    & .equip_desc {
        font-size: 0.8rem;
        position: relative;
        background: #cedff5;
        height: max-content;
        border-radius: 5px;
        color: #376fd0;
        font-weight: 600;
        padding: 0px 3px 0px 3px;
        height: max-content;
        min-height: 18px;
        line-height: 18px;
        text-align: -webkit-center;
        max-width: 100px;
        margin: 1px;
    }

    // & .b-readonly {
    //     opacity: 1 !important;
    // }

    // & .b-cal-event-desc {
    //     opacity: 1 !important;
    // }

    & .b-cal-event-wrap.b-readonly .b-event-header, .b-cal-event-wrap.b-readonly .b-cal-event-desc {
        opacity: 1;
    }

    & .b-calendar-weekdays {
        & .b-weekend[data-column-index="0"] {
           color: red;
        }
        & .b-weekend[data-column-index="6"] {
            color: blue;
        }
    }

    & .b-dayview-day-container {
        & .b-calendar-cell {
            & .b-cal-event-body{
                padding: 0.2em 0.3em 0 !important;
            }
        }
    }
    
    & .b-cal-event-desc-complex {
        gap: 0em !important;
        flex-direction: initial !important;
    }

    & .b-cal-event {
        line-height: inherit !important;
    }


    & .b-numberfield .b-fieldtrigger:before, .b-textareafield .b-fieldtrigger:before, .b-textfield .b-fieldtrigger:before {
        font-size: 1rem !important;
    }
}

.event_tit {
    font-weight: 900;
    font-size: 14px;
}

.event_rev_emp {
    padding: 2px 5px;
    font-size: 12px;
    background: #fdcccd;
    border-radius: 6px;
    font-weight: 700;
    color: #eb4a4b;
    margin-top: 3px;
}