#library_p_main {
    overflow: auto;
    padding: 5px;
    height: 100%;
    & .library {
        display: flex;
        flex-direction: column;
        height: 105px;
        & .top_contents {
            display: flex;
            margin: 5px 0px 5px 0px;
            position: relative;
            top: -40px;
        }

        & .contents {
            width: 100%;
        }

        & .popup_btns {
            position: relative;
            /* right: 0.6rem; */
            z-index: 10;
            background: transparent;
            border-radius: 24px;
            opacity: 0.8;
            filter: drop-shadow(1px 2px 3px black);
            transition: opacity 150ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
            text-align: -webkit-right;
            &:hover {
                opacity: 1;
            }
        }
    }

    // & .library_contents {
    //     height: 100%;
    //     & .contents_mid {
    //         height: 100%;
    //         & .file_upload {
    //             height: calc(100% - 250px);
    //             & .dropzone {
    //                 height:  100%;
    //                 & .grid_contents {
    //                     height: inherit;
    //                     & .ag-theme-balham {
    //                         height: inherit !important;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
}