.transfer_list_main {
    height: -webkit-fill-available;
    min-height: 195px;
    & .MuiPaper-root {
        height: 185px !important;
        margin-right: 0px !important;
    }

    & .transfer_btn_list {
        margin-left: 5px;
        margin-right: 5px;
    }

    & .tit {
        text-align: center;
        margin: 4px 10px 5px 10px;
        filter: drop-shadow(1px 3px 3px #ccc);
        font-weight: 700;
        height: 25px;
        font-size: 0.9rem;
        color: #4455c9;
        border-bottom: 1px solid #7584eb;
    }

    & .transfer_list {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        height: 150px;
        overflow: auto;
    }
}  