@import "../../../mixin.scss";


.contents_wrap {
    & .job_top_contents {
        display: flex;
        width: 100%;
        border-bottom: 1px solid;
        border-color: #d7d7d7;
        filter: drop-shadow(1px 2px 1px #ccc);
        background: #f0f8ff;
        border-radius: 5px;
        margin-top: 5px;
        & .main_tit {
            display: flex;
            width: 100%;
            font-size: 1.3rem;
            margin: 10px 5px 10px 5px;
            color: #175c85;
            font-weight: 700;
            &::before {
                content: "";
                display: flex;
                width: 33px;
                height: 36px;
                background: url('../../../style/img/task.png') no-repeat;
                margin-right: 5px;
                margin-top: -3px;
                filter: drop-shadow(1px 1px 1px black);
                flex-direction: row;
            }
        }

        & .icon_btn_main {
            & #achive_img {
                width: 50px;
                height: 50px;
                margin: 2px 6px 0px 0px;
                filter: drop-shadow(2px 2px 1px #ccc);
                cursor: pointer;
                &:hover {
                    & .icon_btn {
                        transform: translateY(6px);
                        opacity: 1;
                    }
                }
                & .icon_btn {
                    height: 32px;
                    width: 32px;
                    transform: translateY(0px);
                    opacity: 0.7;
                    transition: transform 300ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, opacity 100ms cubic-bezier(0.4, 0, 0.6, 1) 50ms;
                    filter: drop-shadow(2px 2px 2px #ccc);
                    color: #7179d1;
                }
            }
            & #research_img {
                width: 50px;
                height: 50px;
                margin: 2px 6px 0px 0px;
                transform: rotateZ(0deg);
                opacity: 0.7;
                filter: drop-shadow(2px 2px 1px #ccc);
                cursor: pointer;
                transition: transform 300ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, opacity 100ms cubic-bezier(0.4, 0, 0.6, 1) 50ms;
                &:hover {
                    transform: rotateZ(360deg);
                    opacity: 1;
                }

                & .icon_btn {
                    height: 32px;
                    width: 32px;
                    filter: drop-shadow(2px 2px 2px #ccc);
                    color: #7179d1;
                }
            }
        }
    }

    & .job_content {
        overflow-y: auto;
        height: calc(100% - 60px);
        margin-top: 5px;
    }
}