@import "../../../../mixin.scss";

.sys_mng_menu {
    height: calc(100% - 0.3rem);
    display: flex;
    flex-direction: column;
    & .animation {
        min-height: 835px;
    }
    @include mobile {
        & .animation {
            min-height: 100px
        }
    }
}