@import "../../../mixin.scss";


#contents_main {
    background: #f6f7fa;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 0.2rem);
    font-weight: 400;
    // z-index: 999;
    & .MuiButton-root {
        height: 2rem;
        border: none !important;
        margin-left: 0.5rem;
        font-size: 0.9rem;
        line-height: 1.5;
        padding: 2px 0px 0px 3px !important;
        color: #636fc4;
        border-radius: 6px;
        transition: color 400ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, background 400ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, box-shadow 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        &:hover {
            background: #c97777ad;
            box-shadow: #bd52474d 1px 1px 3px 1px;
            border: none;
            color: #fff !important;
        }
        &:last-child {
            margin-right: 0.5rem;
        }
        & .MuiSvgIcon-root{
            position: relative;
            top: -1px;
            left: 5px;
        }
    }
    & .contents_top {
        display: flex;
        background-color: #f7f7f7;
        margin: 0.25rem;
        box-shadow: rgb(227 227 243 / 64%) 0px 2px 5px -1px, rgb(0 0 0 / 80%) 0px 1px 3px -1px;
        & .MuiButton-root {
            position: relative;
            color : #727378;
            min-width: 40px !important;
            height: 25px;
            top: 4px;
            transition: color 400ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, background 400ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, box-shadow 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;

            & .MuiBadge-badge {
                min-width: 8px !important;
                width: 8px !important;
                height: 8px !important;
                padding: 6px 7px 6px 8px !important;
                opacity: 0.8 !important;
                background: #d1deef !important;
                font-size: 5px;
                color: #3870d0 !important;
                font-weight: 800;
            }

            &:hover {
                background: #8e99d3;
                box-shadow: #2821216b 1px 1px 3px 1px;
                border: none;
                color: #fff !important;
                & .MuiBadge-badge {
                    background: #f12f2f !important;
                    color: #ffffff !important;
                }
            }
            & .MuiSvgIcon-root {
                width: 30px;
                height: 20px;
            }
        }

        & .header_btn {
            width: 155px;
        }

        & #contents_top_1 {
            width: 100%;
            min-height: 30px;
            height: 32px;
            padding: 0px 10px 0px 10px;


            & * {
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, background-image 250ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
            }
            & .Mui-selected {
                background-color: #ebf2fb;
                border-radius: 6px;
                line-height: 5px;
                box-shadow: rgb(176 176 207 / 64%) 0px 2px 5px -1px, rgb(0 0 0 / 20%) 0px 1px 3px -1px;
                &::after {
                    content: "";
                    background-image: url(../../../style/img/ls_logo_wing.png);
                    position: absolute;
                    background-repeat: no-repeat;
                    background-size: 43px 48px;
                    filter: drop-shadow(2px 4px 6px #c99191);
                    background-position-x: right;
                    background-position-y: top;
                    height: 17px;
                    width: 97%;
                }
            }
            & #home {
                color: #5d90d5;
            }
            & .css-cjctlb-MuiButtonBase-root-MuiTab-root {
                padding: 0px 16px;
                overflow: hidden;
                font-weight: 600;
                min-height: 30px;
                opacity: 1;
                color: #5d90d5;
            }

            & .css-1aquho2-MuiTabs-indicator {
                background: #1976d2;
                transition: none !important;
                // filter:drop-shadow(2px -14px 9px #cf06c9);
            }
        }
    }

    & #contents_mid {
        height: calc(100% - 40px);
        margin: 0rem 0.3rem 0rem 0.3rem;
        background: #f6f7fa;
        overflow: inherit;
        &::-webkit-scrollbar {
            width: 0px !important;
        }
        & #swipeableViews {
            background: #f6f7fa;
            padding: 0rem 0rem 0.3rem 0rem;
            height: 100%;
            display: flex;
            // box-shadow: #b7b7b7 -2px -2px 4px 0px inset;
            & .react-swipeable-view-container {
                transition: none !important;
                width: 100%;
                &::-webkit-scrollbar {
                    width: 0px !important;
                }

                & div {
                    &::-webkit-scrollbar {
                        width: 0px !important;
                    }
                }
            }
            &::-webkit-scrollbar {
                width: 0px !important;
            }

            & #contents_main {
                height: 100%;
            }
        }
        & .contents_layout {
            height: inherit;
            display: flex;
            overflow-y: scroll;
            flex-direction: column;
            min-height: 500px;
            &::-webkit-scrollbar {
                display: none !important;
            }
        }

        & .search_wrap {
            background: #f6f6f6;
            box-shadow: #b7b7b7 0.5px 0px 4px 0px inset;
            padding: 0.1rem 0.5rem 0.1rem 0.5rem;
            margin-bottom: 3px;
            height: fit-content;
            display: flex;
            width: calc(100% - 1rem);
            & .search_contents {
                width: 100%;
                .MuiBox-root {
                    display: flex;
                    @include mobile {
                        flex-direction: column;
                    }
                }

                & .date_picker {
                    margin: 8px !important;
                }
                
            }
            & .search_btns {
                padding-right: 0.5rem;
                padding-top: 0.5rem;
                & .MuiButton-root {
                    height: 2rem;
                    border: none !important;
                    margin-left: 0.5rem;
                    font-size: 0.9rem;
                    line-height: 1.5;
                    padding: 2px 0px 0px 3px !important;
                    color: #636fc4;
                    border-radius: 6px !important;
                    border: none !important;
                    transition: color 400ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, background 400ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, box-shadow 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
                    &:hover {
                        background: #c97777ad;
                        box-shadow: #bd52474d 1px 1px 3px 1px;
                        border: none;
                        color: #fff !important;
                    }
                    &:last-child {
                        margin-right: 0.5rem;
                    }
                    & .MuiSvgIcon-root{
                        position: relative;
                        top: -1px;
                        left: 5px;
                    }
                }
            }
        }
        & .contents_wrap_parents_w {
            @include etc2 {
                flex-direction: column;
            }
            display: flex;
            height: 100%;
            width: 100%;
        }
        & .contents_wrap_parents_h {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
        }
        & .contents_wrap {
            background: #fff;
            box-shadow: #8f8f97 -0.5px 0px 4px 0px inset;
            padding: 0.2rem 0.5rem 0.5rem 0.5rem;
            width: calc(100% - 1rem);
            height: calc(100% - 0.7rem);
            border-radius: 2px;
            // overflow-y: auto;
            @include etc2 {
                min-height: 350px;
                width: calc(100% - 1rem) !important;
                overflow: auto;
            }
            // ::-webkit-scrollbar {
            //     display: initial !important;
            // }
            // @include mobile {
            //     &:last-child {
            //         margin-bottom: 50px;
            //     } 
            // }
            // &:last-child {
            //     height: 100%;
            //     // & .grid_contents {
            //     //     height: fit-content;
            //     //     max-height: 100%;
            //     //     & .grid_btn_contents {
            //     //         height: 100%;
            //     //     }
            //     // }
            //     & .ag-theme-alpine {
            //         max-height: 320px;
            //     }
            // }
            & .head_contents {
                & .tit {
                    margin-top: 0.5rem;
                    font-size: 0.9rem;
                    line-height: 1.8rem;
                    margin-bottom: 0.8rem;
                    width: 100%;
                    font-weight: 600;
                    &:before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        width: 4px;
                        height: 17px;
                        background: linear-gradient(34deg, rgba(79, 108, 215, 0.79) 0%, rgba(168, 235, 215, 0.62) 96%);
                        margin-right: 4px;
                        margin-top: -6px;
                        margin-left: 0.4rem;
                    }
                }
            }
            & .grid_contents {
                display: flex;
                flex-direction: column;
                margin-top: 0.1rem;
                & .grid_top {
                    display: flex;
                    height: fit-content;
                    & .grid_btn_contents {
                        width: -webkit-fill-available;
                        text-align-last: right;
                        & .btn_group {
                            width: 40px;
                            height: 40px;
                            color: #4452bdcc;
                            filter: drop-shadow(2px 2px 1px #ccc);
                        }
                    }
                    & .grid_tit {
                        font-size: 0.9rem;
                        line-height: 2.5rem;
                        width: 100%;
                        font-weight: 600;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        @include etc2 {
                            margin-bottom: 10px;
                        }
                        &:before {
                            content: "";
                            display: inline-flex;
                            vertical-align: middle;
                            width: 4px;
                            height: 15px;
                            background: linear-gradient(34deg, rgba(177, 209, 255, 0.98) 0%, rgba(146, 155, 255, 0.97) 96%) !important;
                            margin-right: 7px;
                            margin-top: -6px;
                            filter: drop-shadow(1px 1px 1px black);
                        }
                        
                    }
                }
                
            }
        }
    }

    .w20 {
        width: calc(20% - 1rem);
    }

    .w25 {
        width: calc(25% - 1rem);
    }

    .w30 {
        width: calc(30% - 1rem);
    }

    .w35 {
        width: calc(35% - 1rem);
    }

    .w40 {
        width: calc(40% - 1rem);
    }

    .w45 {
        width: calc(45% - 1rem);
    }

    .w50 {
        width: calc(50% - 1rem);
    }

    .w55 {
        width: calc(55% - 1rem);
    }

    .w60 {
        width: calc(60% - 1rem);
    }

    .w65 {
        width: calc(65% - 1rem);
    }

    .w70 {
        width: calc(70% - 1rem);
    }

    .w75 {
        width: calc(75% - 1rem);
    }

    .w80 {
        width: calc(80% - 1rem);
    }

    .w100 {
        width: calc(100% - 1rem);
    }

    .h30 {
        height: calc(30% - 1rem);;
    }

    .h40 {
        height: calc(40% - 1rem);
    }

    .h50 {
        height: calc(50% - 1rem);
    }

    .h60 {
        height: calc(60% - 1rem);
    }

    .h70 {
        height: calc(70% - 1rem);
    }

    .h100 {
        height: calc(100% - 1rem);
    }
}

#alarm_modal {
    background: #3c3c3c00;
    & .MuiBackdrop-root {
        background-color: rgb(0 0 0 / 3%);
    }
    & #alarm_list {
        position: absolute;
        inset: 0px 0px auto auto;
        margin: 0px;
        transform: translate(-84px, 37px);
        z-index: 100;
        height: auto;
        overflow: auto;
        box-shadow: rgb(9 9 36 / 62%) 0px 2px 5px -1px, rgb(37 37 46 / 85%) 0px 1px 3px -1px;
        border-radius: 6px;
        max-height: 365px;
        padding: 10px;
    }

    & .MuiListItem-root {
        padding-right: 10px;
        padding-top: 10px;
    }

    & .thin_border {
        border-color: rgb(90 71 71 / 12%);
        margin-left: 20px;
        margin-right: 20px;
    }

    & .MuiTypography-body1 {
        background: #e4eaf3;
        color: #356cc9;
        max-width: max-content;
        padding: 2px 5px 0px 5px;
        font-weight: 700;
        font-size: 0.8rem;
        border-radius: 8px;

        &::after {
            content: "";
            background-image: url(../../../style/img/ls_logo_wing.png);
            position: absolute;
            background-repeat: no-repeat;
            background-size: 39px 40px;
            filter: drop-shadow(2px 4px 6px #c99191);
            background-position-x: right;
            background-position-y: 0px;
            height: 46px;
            left: -4px;
            top: 14px;
            width: 120px;
        }
    }

    & .MuiTypography-body2 {
        margin-top: 6px;
        margin-left: 2px;
        font-size: 13px;

        & .alarm_contents_main_tit {
            font-size: 14px;
            font-weight: 500;
            color: #323232;
        }

        & .tit_forece {
            color: #eb0e0e;
            padding: 1px 5px 0px 5px;
            background: #f5c6c7;
            border-radius: 7px;
        }

        & #equip_tit_forece {
            font-size: 0.7rem;
        }

        & .alarm_contents_sub_tit{
            margin-left: 4px;
            font-weight: 500;
            color: #523333;
        }
    }

    & .MuiListItemSecondaryAction-root {
        position: absolute;
        right: 16px;
        top: 8px;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;

        & .alaram_btn {
            width: 30px;
            height: 30px;
            min-width: 30px;
            margin-left: 15px;


            & .MuiSvgIcon-root {
                width: 25px;
                height: 25px;
            }
        }
    }
}
