.anal_reg_main {
    height: 100%;
    background-color: transparent;
    & #anal_reg_tab {
        box-shadow: inset 0px 0px 12px 2px #d0d2efba;
        background: #fff;
        border-bottom: 0px;

        & .MuiButtonBase-root {
            padding: 12px 16px;
            font-weight: 600;
            font-size: 0.95rem;
            color: #2a2a2ad1;
        }
        & .Mui-selected {
            color: #1976d2;
            filter: drop-shadow(1px 1px 4px #ccc);
            background: #f7f7ff;
            box-shadow: inset 0px 0px 12px 2px #d9dae9ba;
        }
    }
    & .MuiTabPanel-root {
        padding: 5px;
        height: 100%;
        overflow: auto;
    }

}