@import "../../../../mixin.scss";

.sys_mng_auth {
    height: calc(100% - 0.3rem);
    display: flex;
    flex-direction: column;
    & .head_contents {
        font-size: 0.9rem;
        line-height: 1.8rem;
        width: 100%;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        & .head_btns {
            margin-top: 0.6rem;
            margin-right: 0.5rem;
            & .MuiButton-root {
                height: 2rem;
                margin-left: 0.5rem;
                border: none !important;
                font-size: 0.9rem;
                padding: 2px 0px 0px 3px !important;
                color: #1976D0 !important;
            }
        }
    }   
}