.user_info_main {
    height: 100%;
    width: 100%;
    overflow: auto;

    & .user_info_tit {
        position: absolute;
        background: #fbbdbd;
        padding: 5px;
        border-radius: 12px;
        font-size: 0.8rem;
        font-weight: 600;
        color: #ed1212;
    }

    &::-webkit-scrollbar {
        width: 0px !important;
    }
    & .add_contents {
        padding: 5px 10px 5px 0px;
        position: relative;
        top: -20px;
        & .MuiFormControl-root {
            width: 25%;
            margin-top: 5px;
        }

        & .MuiSvgIcon-root {
            color: #2196f3;
        }

        & .Mui-error {
            & .MuiSvgIcon-root {
                color: #e17979 !important;
            }   
        }

        & .MuiTextField-root {
            width: calc(100% - 15px);
            margin-left: 15px;
        }

        & .MuiIconButton-root {
            padding: 5px !important;
        }

        & .MuiIconButton-root {
            padding: 5px !important;
        }

        & .full_main {
            width: calc(100% - 15px);
            & .full_contents {
                width: 100% !important;
    
                & .MuiInput-root {
                    width: 100% !important;
                }
            }
        }

        & .MuiAutocomplete-root {
            width: 100%;
        }


        & .tel_main {
            width: 50%;
            flex-direction: inherit;
            & .tel_format { 
                width: 50% !important;
                margin-left: 15px;
                padding-top: 3px;
                display: flex;
            }
        }


        & .MuiFormHelperText-root {
            color: #d52f2f;
            font-weight: 600;
            width: 167px;
            font-size: 0.7rem;
        }
    }

    & .btn_contetns {
        width: calc(100% - 20px);
        height: 35px;
        text-align: right;
        & #send_btn {
            width: 35px;
            position: relative;
            height: 35px;
            z-index: 100;
        }
    }


    & #personal_check_info {
        justify-content: right;
    }
}