.date_picker {
    width: fit-content;
    margin: 0px 5px 5px 0px !important;

    & .MuiSvgIcon-root {
        font-size: 1.4rem;
    }

    & .MuiIconButton-root {
        padding: 6px;
    }

    
}