.file_upload {
    & .file_item {
        display: flex;
        & .tit {
            font-size: 0.9rem;
            line-height: 2.5rem;
            width: 100%;
            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:before {
                content: "";
                display: inline-flex;
                vertical-align: middle;
                width: 4px;
                height: 15px;
                background: linear-gradient(34deg, rgba(255, 181, 181, 0.98) 0%, rgba(237, 50, 50, 0.97) 96%) !important;
                margin-right: 7px;
                margin-top: -6px;
                margin-left: 5px;
                filter: drop-shadow(1px 1px 1px black);
            }
        }
        & .MuiButton-root {
            margin-right: 0.2rem;
            border: none !important;
            &:last-child {
                margin-right: 0rem;
            }
        }
    }
    & .grid_contents {
        width: 100%;
        height: calc(100% - 50px) !important;
    }
}