.popup {
    ::-webkit-scrollbar {
        width: 0px !important;
    }
    .popup_contents {
        max-height: -webkit-fill-available;
        margin-bottom: 40px;
    }
    .popup_btns {
        position: fixed;
        right: 0.6rem;
        z-index: 10;
        background: #fff;
        border-radius: 24px;
        opacity: 0.8;
        filter: drop-shadow(1px 2px 3px black);
        transition: opacity 150ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        &:hover {
            opacity: 1;
        }
    }
    & .fr-sticky-on+.fr-sticky-dummy, .fr-sticky-box>.fr-sticky-dummy {
        display: none !important;
    }

    & .fr-line-breaker {
        display: none !important;
    }
}

.seditor {
    // & .fr-box.fr-basic {
    //     max-height: 770px;
    // }
    // & .fr-toolbar.fr-top {
    // }

    & .tit {
        font-size: 0.9rem;
        line-height: 2.5rem;
        width: 100%;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:before {
            content: "";
            display: inline-flex;
            vertical-align: middle;
            width: 4px;
            height: 15px;
            background: linear-gradient(34deg, rgba(255, 181, 181, 0.98) 0%, rgba(237, 50, 50, 0.97) 96%) !important;
            margin-right: 7px;
            margin-top: -6px;
            margin-left: 5px;
            filter: drop-shadow(1px 1px 1px black);
        }
    }

    & .fr-toolbar.fr-sticky-on {
        position: relative !important;
    }

    & .fr-element {
        min-height: 250px !important;
    }

    & .seditor_read_only {
        & .fr-view {
            word-wrap: break-word;
            background: #fff;
            padding: 10px;
            border-radius: 6px;
            filter: drop-shadow(1px 2px 3px #cccc);
        }
    }
}