.notice_p {
    overflow: auto;
    padding: 5px;
    height: 100%;

    & .popup_btns {
        position: relative;
        text-align: end;
        z-index: 100;
    }

    & .table_main {
        position: relative;
        top: -40px;
        display: flex;
        flex-direction: column;
        & .table_tr {
            display: flex;
            /* border-bottom: 1px #e5e5e5 solid; */
            margin-bottom: 0.5rem;
            padding: 0.5rem 0rem 0.5rem 0rem;
            & .table_td {
                display: flex;
                flex-direction: column;
                width: 100%;
                & .table_tit {
                    /* min-width: 100px; */
                    font-size: 1rem;
                    font-weight: 600;
                    filter: drop-shadow(1px 1px 5px #9b9494);
                    /* background: white; */
                    /* height: 100%; */
                    /* position: relative; */
                    /* align-self: center; */
                    margin-bottom: 1rem;
                    width: fit-content;
                    &::before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        width: 4px;
                        height: 18px;
                        background: linear-gradient(34deg, rgb(56 81 177 / 79%) 0%, rgb(152 149 229 / 62%) 96%);
                        margin-right: 5px;
                        margin-top: -5px;
                        margin-left: 0.4rem;
                    }
                    &::after {
                        content: "";
                        background-image: url(../../../../../style/img/ls_logo_wing.png);
                        position: absolute;
                        background-repeat: no-repeat;
                        background-size: 30px 30px;
                        background-position-x: right;
                        background-position-y: top;
                        filter: drop-shadow(3px 4px 4px #a97474);
                        height: 15px;
                        width: 15px;                       
                    }
                }
                & .essential {
                    &::before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        width: 4px;
                        height: 18px;
                        background: linear-gradient(34deg, rgb(201 31 59 / 98%) 0%, rgb(249 156 227 / 97%) 96%) !important;
                        margin-right: 5px;
                        margin-top: -5px;
                        margin-left: 0.4rem;
                    }
                    &::after {
                        content: "*";
                        background-image: none !important;
                        position: absolute;
                        height: 15px;
                        width: 15px;
                        color: #dc7297;
                        top: -12.9%;
                        font-weight: bold;
                        font-size: 1.1rem;                      
                    }
                }
                & .table_contents {
                    width: 100%;
                }
            }
        }   
    }

    & .file_item {
        justify-content: right;
    }
}