#main_mid_1 {
    padding: 0.2rem 0.3rem 0rem 0.4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    & #mid1_top {
        font-size: 0.8rem;
        max-height: 1rem;
        margin-bottom: 0.1rem;
        width: fit-content;
        color: #d9dafc;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        line-height: 1.54em;
        & .main_weather_content {
            display: flex;
            flex-direction: row;
            line-height: 1rem;
            min-height: 52px;
            min-width: 48px;
            & .main_weather_img {
                padding-left: 0.4rem;
                & img {
                    height: 1.5rem;
                    width: 3rem;
                    border-radius: 30%;
                    position: relative;
                    opacity: 0.9;
                    top: -5%;
                    filter: drop-shadow(2px 4px 6px black);
                }
            }
            & .main_weather_desc {
                display: flex;
                & .main_city_name {
                    font-size: 0.7rem;
                    color: #86d9c6;
                    line-height: 1.15rem;
                    margin-left: 0.3rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 120px;
                    width: -webkit-fill-available;
                    min-width: fit-content;
                }
                & .main_temper_01 {
                    text-align: initial;
                    margin-left: 0.2rem;
                    color: #dddddd;
                    line-height: 1.1rem;
                    & .main_temper_02 {
                        font-size: 0.1rem;
                        position: absolute;
                        line-height: 0.6rem;
                        color: #bfbceb;
                    }
                }
            }
        }
    }
    & #mid1_mid {
        font-size: 0.92rem;
        font-weight: 700;
        height: 1.5rem;
        margin-top: 0.3rem;
        width: fit-content;
        display: inline-flex;
        & #mid_user_nm {
            margin-right: 0.3rem;
            font-size: 0.9rem;
            color: #e8e8e8;
        }
        & #mid_dept_nm {
            line-height: 1.33rem;
            font-size: 0.76rem;
            color: #cb9898e8;
            font-weight: 500;
        }
    }
    & #mid1_btm {
        display: flex;
        font-size: 0.75rem;
        height: auto;
        z-index: 3;
        cursor: pointer;
        color: #9b9b9b;
        font-weight: 700;
        opacity: 0.8;
        width: fit-content;
        margin-bottom: 0.3rem;
        transition: color 300ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        &:hover {
            color: rgb(230, 167, 167);
            opacity: 1;
        }
        & #logout {
            font-size: 1rem !important;
        }
    }
}