.family_site {
    width: inherit;
    max-width: 220px;
    height: 30px;
    min-height: 30px;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    &:hover {
        background-color: #7c7070;
    }
    ul{
        list-style:none;
        padding-left:0px;
    }

    & .family_child {
        transition: bottom 100ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, opacity 100ms cubic-bezier(0.4, 0, 0.6, 1) 50ms, visibility 100ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        position: absolute;
        background: #444;
        background-image: url('/src/style/img/ls_logo_white.png');
        background-blend-mode:screen;
        background-repeat: no-repeat;
        background-size: 4rem;
        background-position-x: right;
        background-position-y: 0.5rem;
        & .family_group {
            padding: 0.5rem 1rem 0.2rem 1rem;
            filter: drop-shadow(2px 4px 5px #322f2f);
            & .family_label {
                font-size: 0.9rem;
                min-height: 1.6rem;
                margin: 0.5rem 0rem 0.3rem 0rem;
                font-weight: 700;
                /* margin-top: 0.5rem; */
                color: #fff;
                min-height: 2rem;
                &:before {
                    content: "";
                    position: fixed;
                    left: 0px;
                    height: 1px;
                    background: linear-gradient(34deg, rgb(179 173 203) 0%, rgb(215 129 129 / 57%) 96%);
                    background: -webkit-linear-gradient(34deg, rgb(179 173 203) 0%, rgb(213 87 122 / 57%) 96%);
                    background: -moz-linear-gradient(34deg, rgb(179 173 203) 0%, rgb(215 129 129 / 57%) 96%);
                    background: -o-linear-gradient(34deg, rgb(179 173 203) 0%, rgb(215 129 129 / 57%) 96%);
                    width: 188px;
                    margin-top: 26px;
                    margin-left: 0.7rem;
                }
            }
            & .family_list {
                &::before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    width: 2px;
                    height: 11px;
                    background: linear-gradient(34deg, rgb(156 115 189 / 98%) 0%, rgb(109 165 133 / 97%) 96%) !important;
                    margin-right: 5px;
                    margin-top: -3px;
                    margin-left: 0.4rem;
                    filter: drop-shadow(1px 2px 3px black);
                }
                font-size: 0.8rem;
                padding: 0.5rem 0rem 0.3rem 0rem;
                min-height: 1.2rem;
                cursor: pointer;
                color: #c3c3c3;
                filter: drop-shadow(2px 2px 1px black);
                font-weight: 600;
                transition: font-size 100ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, color 100ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
                &:hover {
                    font-size: 0.9rem;
                    color: #fff;
                }
            }
        }

    }
    & .family_main {
        height: inherit;
        min-height: 30px;
        width: inherit;
        max-width: 220px;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        line-height: 1.9rem;
        transition: color 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        font-family: "Comic Sans MS", cursive;
        cursor: pointer;
        color: #b9b3b3;
        padding-left: 0.4em;
        font-weight: 400;
        &:hover {
            color: #f7f6f6;
        }
        & img.family_site_img {
            transition: transform 0.1s linear;
            margin-left: 6.5rem;
            height: 1.2rem;
            margin-top: 0.1rem;
            filter: invert(0.8);
            margin-top: 0.35rem;
            &.close {
                transform: rotate(45deg);
            }
        }
    }

}