@import "../../../mixin.scss";

.grid_contents {
    height: calc(100% - 0.1rem);
    & .ag-theme-balham {
        & .ag-header-container {
            width: 100%;        
            & .ag-header-cell-text {
                color: #4957b7;
                filter: drop-shadow(1px 1px 4px #fff);
                width: 100%;
                text-align: center;
                line-height: 1.8rem;
            }
        }
    
        & .ag-body-horizontal-scroll-viewport {
            cursor: e-resize;
        }
    
        & .ag-cell-inline-editing {
            height: 29px;
            padding: 0px !important;
        }
    
        & .ag-header {
            background-color: #f5f7f7;
            box-shadow: #cfcfcf 0px 0px 3px 0px inset;
            padding-left: 0px;
            padding-right: 0px;
        }
        & .ag-header-cell::after {
            background: none !important;
        }
        & .ag-header-cell-resize::after {
            content: "";
            position: absolute;
            z-index: 1;
            display: block;
            left: calc(50% - 1px);
            width: 1px;
            height: 100% !important;
            top: 0;
            background-color: rgba(189, 195, 199, 0.5);
        }
    
        & .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value {
            border-right: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3;
        }
    
        & .ag-cell {
            font-weight: 600;
            letter-spacing: 0.3px;
            padding-left: 5px;
            padding-right: 5px;
    
            & .btn_ico {
                & img {
                    width: 1.3rem;
                    height: 1.2rem;
                    margin-left: 4.5px;
                    margin-top: 4px;
                    float: right;
                    opacity: 0.6;
                    filter: drop-shadow(1px 1px 1px black);
                    transition: opacity 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        & .ag-root.ag-layout-normal {
            min-height: 250px;
        }
    
        & .ag-picker-field-wrapper {
            border-radius: 0px;
            border: 0px !important;
        }   
    
        & .ag-row-focus, .ag-row-selected {
            background-color: #ffd9d9 !important;
            box-shadow: #e3e3dd 0px 0px 5px 0px inset;
            background: #e8f7eb !important;
        }
        & .ag-row-hover {
            background-color: #eefbff;
        }
    
        & .ag-cell {
            line-height: 1.7rem;
        }
        & .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
            // background-color: #f5ffdd !important;
            // border-radius: 0px;
            // border: 1px solid #909cef !important;
            // outline: initial;
        }
    
        & .ag-row {
            border-bottom-style: none;
            & .ag-cell-range-selected {
                border-color: #909cef !important;
    
                &:last-child {
                    border-right: 1px solid #909cef !important;
                }
            }
    
            &:first-child {
                & .ag-cell-range-selected {
                    border-top: 1px solid #909cef !important;
                }
            }
        }
    
        & .ag-row-hover {
            background-color: #f4f5ff !important;
            box-shadow: #e3e3dd 0px 0px 5px 0px inset;
        }
    
        & .ag-cell-focus {
            border-color: #909cef !important;
            border-right: 1px solid #909cef !important;
            border-top: 1px solid #909cef !important;
            border: 1px solid;
        }
    }
}

.cell_align_center {
    text-align: center;
}

.cell_align_right {
    text-align: right;
}

.ag-numeric-cell {
    text-align: right;
}

.ag-row-span {
    width: 100%;
    background: white;
    border-right: 1px solid #e3e3e3 !important;
}

.ag-react-container {
    width: 100%;
}

.ag-overlay-no-rows-center {
    font-size: 0.9rem;
    filter: drop-shadow(2px 4px 6px #ccc);
    font-weight: 700;
    color: #163ead;
    opacity: 0.8;
    top: 55%;
    position: absolute;
    &::after {
        content: "";
        background-image: url(../../../style/img/ls_logo_wing.png);
        position: absolute;
        background-repeat: no-repeat;
        background-size: 3rem 3rem;
        background-position-x: right;
        background-position-y: top;
        filter: drop-shadow(3px 4px 4px #a97474);
        height: 17px;
        width: 14px;
    }
}

.ag-root-wrapper-body {
    min-height: 100px;
    height: 100% !important;
    @include etc3 {
        min-height: 250px !important;
    }
    & .ag-body-viewport {
        min-height: 70px !important;
    }
}
.ag-popup {
    display: contents !important;
}

.ag-list {
    height: 100%;
    overflow: auto !important;
    & .ag-list-item {
        width: 100%;
        overflow: auto;
        height: auto;
    }
}