.equiip_rev_main {
    height: 100% !important;
    & .scalendar {
        height: 100% !important;

        & .b-calendar.b-outer {
            height: calc(100% - 45px) !important;
        }
    }
}