.animation {
    .rc-tree-treenode {
        display: flex;
        line-height: 0.8rem;
        .rc-tree-title:hover {
            filter: drop-shadow(2px 0px 6px #d2691e);
            font-weight: 600;
        }
        .rc-tree-node-selected {
            background-color: #ffe6b000 !important ;
            filter: drop-shadow(2px 0px 4px #d2691e);
            box-shadow: none !important;
            border: none !important;
            font-weight: 600;
            opacity: 1 !important;
        }
      .rc-tree-indent {
            position: relative;
            align-self: stretch;
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
        
            .rc-tree-indent-unit {
                position: relative;
                height: 100%;
            
            &::before {
                position: absolute;
                top: 0;
                bottom: 0;
                border-right: 1px solid blue;
                left: 50%;
                content: '';
            }
          
            &-end {
                &::before {
                    display: none;
                }
            }
          
            // End should ignore
            // &-end {
            //   &::before {
            //     display: none;
            //   }
            // }
          }
        }
        // Motion
        &-motion:not(.node-motion-appear-active) {
          // .rc-tree-indent-unit {
          //   &::before {
          //     display: none;
          //   }
          // }
        }
    }   
    .rc-tree-child-tree {
        display: block;
      }
      
      .node-motion {
        transition: all .3s;
        overflow-y: hidden;
      }
  }