#weather {
    width: 250px;
    position: relative;
    max-height: 30px;
    right:1%;
    & .weather_contents {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        -ms-user-select: none;
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        .weather_scroll {
            display: flex;
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
            overflow: hidden;
            font-family: "Comic Sans MS", cursive;
            font-weight: 600;
            font-size: 0.9rem;
            display: inline-block;
            animation:text-scroll 10s linear infinite;
            & ul{
                display: inline;
                & li{
                    display: inline-block;
                    padding-right: 2rem;
                    & .weather_content {
                        display: flex;
                    }
                }
              }
            @keyframes text-scroll{
                from{
                  transform:translateX(20%);
                  -moz-transform:translateX(20%);
                  -webkit-transform:translateX(20%);
                  -o-transform:translateX(20%);
                  -ms-transform:translateX(20%);
                  margin-left:210px;
                }
                to{
                  transform:translateX(-100%);
                  -moz-transform:translateX(-100%);
                  -webkit-transform:translateX(-100%);
                  -o-transform:translateX(-100%);
                  -ms-transform:translateX(-100%);
                  margin-left:0px;
                }
            }
            & img{
                height: 23px;
                width: 23px;
                filter: drop-shadow(2px 2px 3px black);
            }
            & .weather_desc {
                padding-left: 0.5rem;
                margin-top: 0.1em;
    
                & .temper_01 {
                    padding-left: 0.5rem;
                }
                & .temper_02 {
                    font-size: 0.7rem;
                    position: absolute;
                    font-weight: 500;
                }
            }
        }
    }
}
