.equip_dept_main {
    height: 100%;
    display: flex;
    flex-direction: column;
    & #dept_head_contents {
        height: 60px;
        display: flex;
        margin-right: 10px;
    }

    & .animation {
        height: 100%;
    }
}