.anal_reg_etm_main {

    & .strong {
        color: #ffffff;
        background: #7983ce;
        margin-left: 5px;
        margin-right: 5px;
        padding: 2px 5px 2px 5px;
        border-radius: 8px;
        font-size: 0.8rem;
    }

    & .reg_main_tit {
        filter: drop-shadow(1px 1px 2px #ccc);
        height: 25px;
        font-weight: 700;
        &::before {
            content: "";
            display: inline-flex;
            vertical-align: middle;
            width: 4px;
            height: 15px;
            background: linear-gradient(34deg, rgba(177, 209, 255, 0.98) 0%, rgb(146 155 255 / 97%) 96%) !important;
            margin-right: 7px;
            margin-top: -6px;
            filter: drop-shadow(1px 1px 1px black);
        }
    }
    & .radio_main {

        & .MuiTypography-root {
            line-height: 0 !important;
            font-size: 0.9rem;
            font-weight: 600;
            filter: drop-shadow(1px 2px 4px #ccc);
            color: #454760;
        }
        & .radio_group {
            font-size: 0.9rem;
            font-weight: 700;
            filter: drop-shadow(2px 4px 6px #ccc);
            color: #000;
            height: 20px;
    
            & .MuiFormControlLabel-root {
                margin-left: -11px;
                margin-right: 10px;
            }
    
            &::before {
                content: "";
                display: inline-flex;
                vertical-align: middle;
                width: 4px;
                height: 14px;
                background: linear-gradient(34deg, rgb(217 73 73 / 98%) 0%, rgb(247 164 164 / 97%) 96%) !important;
                margin-right: 6px;
                margin-top: -5.5px;
                filter: drop-shadow(1px 1px 1px black);
            }
        }

        & .MuiSvgIcon-root {
            height: 18px !important;
            width: 20px !important;
            margin-bottom: 0.5px;
        }
    }

    & .etm_desc {
        height: 50px;
        text-align: center;
        margin-top: 18px;
        font-weight: 700;
        filter: drop-shadow(2px 4px 6px #ccc);
        color: #465c99;
        &::after {
            content: "";
            background-image: url(../../../../style/img/ls_logo_wing.png);
            position: absolute;
            background-repeat: no-repeat;
            background-size: 45px 41px;
            background-position-x: right;
            background-position-y: top;
            filter: drop-shadow(3px 4px 4px #a97474);
            height: 15px;
            width: 15px;
            top: -2px;
            right: 182px;                   
        }
    }
}