
.contents_wrap {
    & .top_contents {
        display: flex;
        width: 100%;
        & .main_tit {
            display: flex;
            width: 100%;
            font-size: 1.3rem;
            margin: 10px 5px 10px 5px;
            color: #175c85;
            font-weight: 700;
            &::before {
                content: "";
                display: flex;
                width: 33px;
                height: 36px;
                background: url('../../../style/img/lab3.png') no-repeat;
                margin-right: 5px;
                margin-top: -3px;
                filter: drop-shadow(1px 1px 1px black);
                flex-direction: row;
            }
        }

        & .research {
            & .research_img {
                width: 28px;
                height: 27px;
                margin: 10px 6px 0px 0px;
                transform: rotateZ(0deg);
                filter: drop-shadow(2px 2px 1px #ccc);
                cursor: pointer;
                transition: transform 100ms cubic-bezier(0.4, 0, 0.6, 1) 50ms;

                &:hover {
                    transform: rotateZ(180deg);
                }
            }
        }
    }
    
    
    & .equip_contents_main {
        background: #fff;
        height: inherit;
        overflow-y: auto;
        & .equip_contents_mid {
            display: flex;
            width: calc(100% - 0.4rem);
            box-shadow: #d5d5d5 0px 0px 4px 0px inset;
            margin-bottom: 0.5rem;
            padding: 0.5rem 0.2rem 0.5rem 0.2rem;
            & .contents_mid_1 {
                width: 300px;
                & .contents_1 {
                    box-shadow: inset 0px 0px 12px 2px #d1d4ffba;
                    /* font-style: oblique; */
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin: 5px 10px 8px 25px;
                    width: 200px;
                    text-align: center;
                    padding: 5px;
                    border-radius: 6px;
                    font-weight: 600;
                    filter: drop-shadow(1px 1px 0px #ccc);
                    border: 1px;
                    border-color: #8d8d8d78;
                    border-style: outset;
                    & .tit {
                        font-size: 1.2rem;
                        background: linear-gradient(#0115ff, #814c56, #d27deb);
                        background: -webkit-linear-gradient(#0115ff, #814c56, #d27deb);
                        background: -moz-linear-gradient(#0115ff, #814c56, #d27deb);
                        background: -o-linear-gradient(#0115ff, #814c56, #d27deb);
                        -webkit-background-clip: text;
                        background-clip: text;
                        letter-spacing: 0.1rem;
                        -webkit-text-fill-color: transparent;
                        height: auto;
                        font-weight: 900;
                        margin-bottom: 3px;
                        filter: drop-shadow(2px 3px 2px #9d9d9d);
                    }
    
                    & .equip_ctn {
                        box-shadow: inset 0px 0px 30px 2px #2144c5;
                        border-radius: 6px;
                        color: #ffffff;
                        position: relative;
                        font-size: 0.7rem;
                        font-weight: 800;
                        width: fit-content;
                        background: #fbfbfb00;
                        filter: drop-shadow(3px 2px 4px #ccc);
                        left: 63px;
                        padding: 1.5px 2px 1.5px 2px;
                    }
                }
            }
    
            & .contents_mid_2 {
                width: calc(100% - 10px);
                padding: 5px;
                display: flex;
                flex-direction: column;
                margin-top: 2px;
                & .label_before {
                    &::before {
                        content: "";
                        display: inline-flex;
                        vertical-align: middle;
                        width: 4px;
                        height: 15px;
                        background: linear-gradient(34deg, rgb(255 149 167 / 98%) 0%, rgba(249, 156, 227, 0.97) 96%) !important;
                        margin-right: 5px;
                        margin-top: -3px;
                        filter: drop-shadow(1px 1px 1px black);
                    }
                }
    
                & .contents_mid_2_1 {
                    height: 30px;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 30px;
                    color: #bd4a4a;
                    white-space: nowrap;
                }
    
                & .contents_mid_2_2 {
                    display: flex;
                    height: 26px;
                    font-size: 13px;
                    
                    &::before {
                        content: "";
                        display: inline-flex;
                        vertical-align: middle;
                        width: 4px;
                        height: 15px;
                        background: linear-gradient(34deg, rgba(177, 209, 255, 0.98) 0%, rgba(105, 150, 233, 0.97) 96%) !important;
                        margin-right: 5px;
                        margin-top: 6px;
                        filter: drop-shadow(1px 1px 1px black);
                    }

                    & .equipInfo {
                        font-size: 13.5px;
                        line-height: 28px;
                        font-weight: 700;
                        margin-right: 5px;
                        filter: drop-shadow(2px 1px 3px #ccc);
                    }
    
                    & .equip_link {
                        padding: 2px 5px 2px 5px;
                        background: #e4cbf399;
                        border-radius: 6px;
                        margin: 0px 7.5px 0px 0px;
                        line-height: 17px;
                        cursor: pointer;
                        margin-top: 3.5px;
                        filter: drop-shadow(3px 2px 3px #ccc);
                        height: 17px;
                        /* line-height: 21px; */
                        color: #745206;
                        font-size: 12px;
                        font-weight: 700;
                        opacity: 0.8;
                        transition: opacity 100ms cubic-bezier(0.4, 0, 0.6, 1) 50ms, font-size 100ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, background 100ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    
                        &:hover {
                            opacity: 1;
                            font-size: 13px;
                            background: #ebdbfb;
                        }
                    }
                }
            }
        }
    }
}