.add_user_main {
    height: 100%;
    width: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0px !important;
    }
    & .add_contents {
        padding: 5px 10px 5px 0px;
        position: relative;
        top: -20px;
        & .MuiFormControl-root {
            display: inline-block;
        }

        & .MuiSvgIcon-root {
            color: #2196f3;
        }

        & .Mui-error {
            & .MuiSvgIcon-root {
                color: #e17979 !important;
            }   
        }

        & .MuiTextField-root {
            width: 180px;
            margin-left: 15px;
        }

        & .full_contents {
            width: 375px !important;

            & .MuiInput-root {
                width: 375px !important;
            }
        }

        & .tel_format {
            width: 180px;
            margin-left: 15px;
        }


        & .MuiFormHelperText-root {
            color: #d52f2f;
            font-weight: 600;
            width: 167px;
            font-size: 0.7rem;
        }
    }

    & .btn_contetns {
        width: 100%;
        height: 35px;
        text-align: right;
        & #send_btn {
            width: 35px;
            position: relative;
            height: 35px;
            z-index: 100;
            justify-content: right;
        }
    }


    & #personal_check_info {
        justify-content: right;
    }
}