.color_picker {
    display: flex;
    & .tit {
        align-self: center;
        display: flex;
        padding: 2.5px;
        align-items: center;
        border-radius: 8px;
        margin-bottom: 3px;
        background-color: rgb(255 255 255 / 31%);
        border: solid 1px #ccc9;
        & .tit_img {
            align-self: center;
            padding-top: 2.5px;
            & .color_ico {
                width: 24px;
                height: 24px;
            }
        }

        & .tit_nm {
            display: flex;
            flex-direction: column;
            margin-left: 6px;
            padding: 3px;

            & .tit_nm_s {
                font-size: 10px;
                display: flex;
                align-items: center;
                border-radius: 8px;
                justify-content: center;
                font-weight: 800;
                border: 1px solid #a9a9a98f;
            }

            & .tit_nm_m {
                font-size: 11px;
                font-weight: 700;
                align-self: center;
            }
        }
    }
    & .react-colorful {
        position: relative;
        padding: 10px;
        display: flex;
        flex-direction: column;
        height: 32px;
        width: 140px !important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
        transition: height 75ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        & .react-colorful__hue {
            border-start-end-radius: 9px;
            border-start-start-radius: 9px;
        }
        & .react-colorful__saturation {
            border-radius: 9px;
            display: none;
            transition: opacity 150ms cubic-bezier(0.4, 0, 0.6, 1) 75ms;
        }
        
        & .react-colorful__pointer {
            width: 17px !important;
            height: 17px !important;
        }
    }
}
