.grid_select {
    height: 30px;
    width: 100%;
    position: absolute;
    left: 0;


    & .MuiFormControl-root {
        height: 30px;
        width: 100%;
        top: -4px;
        & .MuiOutlinedInput-root {
            border-radius: 0px;
            height: 36px;
            padding-bottom: 1;
            position: absolute;
            width: 106%;
            left: -2px;
            line-height: 24px;
        }
        & .MuiSvgIcon-root {
            display: none;
        }

        & .MuiSelect-select {
            padding: 2px 5px 0px 5px;
            height: 27px;
            width: calc(100% - 18px);
            border-radius: 0px !important;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            font-size: 12px;
            margin-left: 2px;
            font-weight: 700;
        }

    }
}