@import "../../../mixin.scss";

.date_picker_range {
    width: 40ch !important;
    & .css-17vdz66 {
        width: 40ch;
    }
    @include etc2 {
        width: 35ch !important;
        & .css-17vdz66 {
            width: 35ch;
        }
    }
}

.css-170k9md {
    min-height: 230px;
    height: 230px;
}

.css-1smlk3z-MuiPaper-root {
    @include mobile {
        display: flex;
        position: relative;
        flex-direction: column;
        left: 5%;
        & .css-1xhj18k {
            flex-direction: column;
        }
    }
}