#main_mid_2 {
    width: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    height: inherit !important;
    & .main_menu {
        height: auto;
        &.active {
            border: none;
            background-color: rgb(163 109 109 / 13%);
            & .menu_btn {
                color: #f6f7fa !important;
                opacity: 1 !important;
                & .MuiSvgIcon-root {
                    color: #ffffff !important;
                    filter: drop-shadow(2px 4px 2px black);
                }
                &:before {
                    width: 0px !important;
                }
            }
            & .mid_menu {
                // transition: left 100ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
                position: absolute;
                width: 220px;
                top: 0rem;
                z-index: 30;
                background-color: #767676;
                height: 100% !important;
                overflow-y: auto;
                overflow-x: hidden;
                & .mid_btn {
                    display: flex;
                    padding: 0.8rem;
                    border-radius: 0;
                    font-weight: 700;
                    font-size: 0.9rem;
                    color: #ffffff;
                    max-height: 3.2rem;
                    background: #665858b0;
                    pointer-events: none;
                    padding-left: 0.8rem;
                }
                & .sub_menu {
                    overflow: hidden;
                    & .sub_btn {
                        display: flex;
                        padding: 0.8rem;
                        border-radius: 0;
                        width: inherit;
                        font-weight: 700;
                        font-size: 0.9rem;
                        color: #dbdbdb;
                        opacity: 0.8;
                        max-height: 3.2rem;
                        background: #747474;
                        padding-left: 0.6rem;
                        height: 3.2rem;
                        &:hover {
                            color: #ffffff;
                            transition: font-size 100ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
                            font-size: 1.0rem;
                            & .MuiSvgIcon-root {
                                transition: font-size 100ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
        & .menu_btn {
            padding: 0.8rem;
            border-radius: 0;
            font-weight: 700;
            font-size: 0.9rem;
            color: #d0d0d0;
            opacity: 0.8;
            min-height: 3.2rem;
            
            & .MuiSvgIcon-root {
                margin-top: '2px';
                color: #f7f7f7
            }
            &:before {
                content: "";
                position: fixed;
                transition: width 100ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
                left: 0px;
                height: 1.7px;
                background: linear-gradient(34deg, rgb(255 255 255 / 25%) 0%, rgb(184 117 135 / 42%) 96%);
                background: -webkit-linear-gradient(34deg, rgb(255 255 255 / 25%) 0%, rgb(184 117 135 / 42%) 96%);
                background: -moz-linear-gradient(34deg, rgb(255 255 255 / 25%) 0%, rgb(184 117 135 / 42%) 96%);
                background: -o-linear-gradient(34deg, rgb(255 255 255 / 25%) 0%, rgb(184 117 135 / 42%) 96%);
                width: 0px;
                margin-top: 3.2rem;
            }
            &:hover {
                border: none;
                color: #fff;
                opacity: 1;
                background-color: rgb(197 195 195 / 13%);
                &:before {
                    width: inherit;
                }
            } 
        }
        & .mid_btn {
            display: none;
        }
        & .sub_btn {
            display: none;
        }
    }

    .MuiButton-root {
        width: inherit;
        height: inherit;
        border: none !important;
        -webkit-align-items: left;
        -webkit-box-align: left;
        -ms-flex-align: left;
        align-items: left;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        -webkit-justify-content: left;
        justify-content: left;
    }
}
