@import "../../mixin.scss";

.ReactModal__Overlay {
    z-index: 10 !important;
}

.ReactModal__Content {
}

.modal_main {
    border-start-end-radius: 6px;
    border-start-start-radius: 6px;
    background-color: #f6f6f6;
    border: 0px solid;
    max-height: 95vh;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    // filter: drop-shadow(black 1px 1px 4px);
    // transform: translate(0px, 40px) !important;
    box-shadow: 2px 2px 12px 2px #56565cba;
    overflow: auto;
    height: max-content;
    // &::before {
    //     content: "";
    //     position: absolute;
    //     background-repeat: no-repeat;
    //     background-size: 5.5rem 4.5rem;
    //     background-image: url(../../style/img/ls_logo_wing.png);
    //     background-position-x: right;
    //     background-position-y: top;
    //     filter: drop-shadow(1px 1px 4px #6d1414);
    //     height: 20px;
    //     width: 32px;
    //     right: -21px;
    //     top: -6px;
    //     @include etc2 {
    //         background-size: 2.5rem 2.5rem;
    //         animation: wings 30s infinite;
    //         top: -13px;
    //         // transition: transform 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    //     }

    //     @keyframes wings {
    //         0% {
    //             transform: scale3d(1.5, 1.5, 0.5) translateX(-1000px) translateY(10px);
    //         }
    //         100%{
    //             transform: scale3d(-1.5, 1.5, -27.5) translateX(500px) translateY(-5px);
    //         }
    //     }
    // }
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    & .resize_contents {
        max-height: 920px;
    }
    @include etc2 {
        transform: translate(0px, 20px) !important;
        width: 100% !important;
        height: 100vh !important;
        position: absolute;
        top: -10px;
    }
    & .modal_header {
        background: linear-gradient(105deg, #9a83db 0%, #436ed3 30%, rgba(189, 79, 78, 0.88) 96%);
        height: 37px;
        padding: 0px;
        margin: 0px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        height: 32px;
        text-overflow: ellipsis;
        white-space: nowrap;
        -ms-user-select: none;
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        color: #ffffff;
        display: flex;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        & .modal_tit {
            width: 100%;
            padding-left: 1%;
            font-size: 18px;
            cursor: grab;
            filter: drop-shadow(1px 1px 4px black);
            font-size: 16px;
            line-height: 27px;
            &::before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 4px;
                height: 18px;
                background: linear-gradient(34deg, rgb(255 119 119) 0%, rgb(229 171 171) 96%);
                margin-right: 5px;
                margin-top: -5px;
                margin-left: 0.4rem;
                position: relative;
                top: 1.1px;
            }
        }
        & .close_icon {
            width: 30px;
            text-align-last: center;
            cursor: pointer;
            font-size: 20px;
            filter: drop-shadow(1px 1px 1px black);
            opacity: 0.7;
            font-family: "Comic Sans MS", cursive;
            z-index: 100;
            transition: opacity 50ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, font-size 50ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
            &:hover {
                opacity: 1;
                font-size: 23px;
            }
        }
    }
    & .modal_contents {
        padding: 6px;
        display: flex;
        flex-direction: column;
        height: calc(100% - 50px);
        & .contents_wrap_parents_h {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
        }

        & .search_btns {
            position: relative;
            text-align-last: right;
            top: 5px;
            width: 100%;
            & .MuiButton-root {
                height: 2rem;
                margin-left: 0.5rem;
                font-size: 0.9rem;
                line-height: 1.5;
                padding: 2px 0px 0px 3px !important;
                color: #636fc4;
                border-radius: 6px !important;
                border: none !important;
                transition: color 400ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, background 400ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, box-shadow 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
                &:hover {
                    background: #c97777ad;
                    box-shadow: #bd52474d 1px 1px 3px 1px;
                    border: none;
                    color: #fff !important;
                }
                &:last-child {
                    margin-right: 0.5rem;
                }
                & .MuiSvgIcon-root{
                    position: relative;
                    top: -1px;
                    left: 5px;
                }

            }
            & .Mui-disabled {
                color: rgba(0, 0, 0, 0.26) !important;
                -webkit-text-fill-color: rgba(0, 0, 0, 0.26) !important;
                filter: drop-shadow(1px 1px 3px #ccc);
            }
        }

        & .popup_tit {
            display: none;
        }
        & .search_wrap {
            background: #f6f6f6;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            margin-bottom: 3px;
            min-height: 40px;
            height: max-content;
            width: calc(100% - 1rem);
            display: flex;
            @include etc2 {
                flex-direction: column;
            }
            & .search_btns {
                right: 5px;
            }
            
            & .search_contents {
                width: 100%;
                display: flex;
<<<<<<< HEAD
=======
                @include etc2 {
                    flex-direction: column;
                }
>>>>>>> dev_new
                & .MuiBox-root {
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    display: flex;
                }
                & .MuiFormControl-root {
                    margin: 5px 5px 5px 0px;
                }

            }
        }

        & .contents_wrap {
            width: 100%;
            height: calc(100% - 1rem);
            overflow: auto;
            padding-top: 8px;
            & .ag-theme-balham {
                height: 100% !important;
                overflow: auto;
            }

            & .seditor {
                height: calc(100% - 0.5rem);
                display: flex;
                flex-direction: column;
                & .fr-box {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                }

                & .fr-element {
                    height: inherit;
                }
            }

            & .seditor_read_only {
                height: calc(100% - 0.5rem);
                overflow-y: auto;
                padding-right: 10px;
                padding-left: 10px;
                border-radius: 12px;
            }
        }

        & .grid_contents {
            display: flex;
            flex-direction: column;
            margin-top: 0.1rem;
            & .grid_top {
                display: flex;
                height: fit-content;
                & .grid_tit {
                    font-size: 0.9rem;
                    line-height: 2.5rem;
                    width: 100%;
                    font-weight: 600;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &::before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        width: 4px;
                        height: 17px;
                        background: linear-gradient(34deg, rgba(79, 108, 215, 0.79) 0%, rgba(168, 235, 215, 0.62) 96%);
                        margin-right: 4px;
                        margin-top: -6px;
                        margin-left: 0.4rem;
                    }
                }
                & .grid_btn_contents {
                    width: -webkit-fill-available;
                    text-align-last: right;
                    & .btn_group {
                        width: 40px;
                        height: 40px;
                        color: #4452bdcc;
                        filter: drop-shadow(2px 2px 1px #ccc);
                    }
                }
            }
        }
    }
}
.react-resizable {
    position: relative;
    @include etc2 {
        width: 100% !important;
    }
}
.react-resizable-handle {
    position: absolute;
    width: 19px;
    height: 19px;
    bottom: 0;
    right: 0;
    background: url(../../style/img/resize_ico.png);
    background-position: center;
    background-size: 15px;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    // background-origin: content-box;
    box-sizing: border-box;
    cursor: url(../../style/img/cursor_pointer.png),auto;
    transition: opacity 15ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, background-size 5ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    opacity: 0.7;
    &:hover {
        opacity: 1;
        background-size: 17px;
    }
}
