$backgroudColor1: #393939db;
$backgroudColor2: #535353fa;

#main_menu {
    height: inherit;
    min-width: 60px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(1px 1px 3px #737171);
    background: #fffffff0;
    // transition: width 100ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, min-width 100ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,margin 100ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    & div {
        width: 100%;
        max-width: inherit;
        height: auto;
    }
    & #main_top_menu {
        min-height: 50px;
        height: 50px;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
        -ms-user-select: none;
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        & #wing {
            transition: opacity 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, left 450ms cubic-bezier(0.2, 0, 0.3, 1) 0ms;
            position: absolute;
            top: 0.5rem;
            left: 7.5rem;
            z-index: 0;
            transform: rotate3d(6, 81, 13, -14deg);
            box-shadow: drop-shadow(4px 4px 2px rgb(136, 90, 90));
            filter: drop-shadow(7px 3px 2px rgb(136, 90, 90));
        }
        & #top_tit {
            max-width: 220px !important;
            height: 100% !important;
            max-width: 220px !important;
            height: inherit !important;
            box-shadow: inset 0px 0px 12px 2px #8b8fc8ba;
            font-style: oblique;
            font-family: "Comic Sans MS", cursive;
            text-overflow: ellipsis;
            white-space: nowrap;
            & #tit_1 {
                font-size: 1.3rem;
                background: linear-gradient(#535353, #0000007a, #ff9899);
                background: -webkit-linear-gradient(#535353, #0000007a, #ff9899);
                background: -moz-linear-gradient(#535353, #0000007a, #ff9899);
                background: -o-linear-gradient(#535353, #0000007a, #ff9899);
                -webkit-background-clip: text;
                background-clip: text;
                letter-spacing: 0.1rem;
                -webkit-text-fill-color: transparent;
                filter: drop-shadow(1px 1px 0px #7275e2);
                height: auto;
                font-weight: 900;
            }
            & #tit_2 {
                height: 21px !important;
                height: 21px !important;
                background: linear-gradient(#101010, #fe0505, #393838);
                background: -webkit-linear-gradient(#101010, #fe0505, #393838);
                background: -moz-linear-gradient(#101010, #fe0505, #393838);
                background: -o-linear-gradient(#101010, #fe0505, #393838);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                filter: drop-shadow(1px 1px 4px black);
                height: auto;
            }
        }
    }
    & #main_mid_1_menu {
        background-color: $backgroudColor1;
        z-index: 25;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-top: 0.1rem solid #817f7f;
        min-height: 75px;
        height: 75px;
        &:before {
            content: "";
            position: fixed;
            left: 0px;
            height: 2px;
            background: linear-gradient(34deg, rgb(255 255 255 / 25%) 0%, rgb(255 131 164 / 42%) 96%);
            background: -webkit-linear-gradient(34deg, rgb(255 255 255 / 25%) 0%, rgb(255 131 164 / 42%) 96%);
            background: -moz-linear-gradient(34deg, rgb(255 255 255 / 25%) 0%, rgb(255 131 164 / 42%) 96%);
            background: -o-linear-gradient(34deg, rgb(255 255 255 / 25%) 0%, rgb(255 131 164 / 42%) 96%);
            width: inherit;
            margin-top: 4.6rem;
        }
        & #main_mid_1 {
            width: calc(100% - 11px);
        }
    }
    & #main_mid_2_menu {
        background: $backgroudColor2;
        z-index: 20;
        height: 100%;
    }
    & #main_mid_3_menu {
        background-color: #746969;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-height: 30px;
        height: 30px;
        z-index: 30;
    }
    & #main_btm_menu {
        background-color: $backgroudColor2;
        min-height: 60px;
        height: 60px;
        z-index: 25;
    }
}