@import "./variable.scss";

@mixin etc {
  @media (max-width: #{$breakpoint-mobile - 1px}) {
    @content;
  }
}

@mixin etc2 {
  @media (max-width: #{$breakpoint-etc - 1px}) {
    @content;
  }
}

@mixin etc3 {
  @media (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin etc4 {
  @media (min-width: #{$breakpoint-desktop}) and (max-width: #{$breakpoint-desktop_1 - 1px}) {
    @content;
  }
}

@mixin etc5 {
  @media (min-width: #{$breakpoint-desktop_1}) and (max-width: #{$breakpoint-desktop_2 - 1px}) {
    @content;
  }
}

@mixin etc6 {
  @media (min-width: #{$breakpoint-etc}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin undesktop {
  @media (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}