@import "./mixin.scss";

html{
    font-size : 1rem;
}

body {
    font-size:0.8rem;
    font-family: AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
    color:#333;
    background-color:#fff;
    font-weight: 400;
    letter-spacing: 0.2px;
    /* scrollbar-arrow-color: #666;
    scrollbar-Track-Color: #fff;
    scrollbar-base-color: #fff;
    scrollbar-Face-Color: #e9e9e9;
    scrollbar-3dLight-Color: #fff;
    scrollbar-DarkShadow-Color: #e9e9e9;
    scrollbar-Highlight-Color: #f2f2f2;
    scrollbar-Shadow-Color: #e9e9e9; */
	scrollbar-highlight-color: #fff; scrollbar-shadow-color: #b9b9b9; scrollbar-arrow-color: #b5b5b5; scrollbar-face-color: #c9c9c9; scrollbar-3dlight-color: #ccc; scrollbar-darkshadow-color: #fff; scrollbar-track-color: #fff;
	scrollbar-highlight-color: #fff; scrollbar-shadow-color: #ccc; scrollbar-arrow-color: #ccc; scrollbar-face-color: #fff; scrollbar-3dlight-color: #ccc; scrollbar-darkshadow-color: #fff; scrollbar-track-color: #fff;
    margin: 0px !important;

    & .loading_bar {
        position: relative;
        left: calc(50% - 40px);
        top: calc(50% - 40px);
    }

    & .popup_contents {
        // &::after {
        //     content: "";
        //     position: absolute;
        //     background-image: url(./style/img/ls_logo_wing.png);
        //     background-repeat: no-repeat;
        //     background-size: 7.5rem 6rem;
        //     background-position-x: right;
        //     /* background-position-y: 0.7rem; */
        //     height: 50px;
        //     width: 100%;
        //     margin-left: 1.5rem;
        //     top: -0.4rem;
        // }
        height: calc(100% - 50px);
        background: #f6f6f6;
        overflow: auto;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        // &::-webkit-scrollbar {
        //     display: none; /* Chrome, Safari, Opera*/
        // }
        & .search_wrap {
            background: #f6f6f6;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            margin-bottom: 3px;
            height: fit-content;
            display: flex;
            width: calc(100% - 1rem);
            & .search_contents {
                width: 100%;
                & .MuiFormControl-root {
                    margin: 5px 5px 5px 0px;
                }   

                & .date_picker {
                    margin: 8px !important;
                }
            }
            & .search_btns {
                padding-right: 0.5rem;
                padding-top: 0.5rem;
                & .MuiButton-root {
                    height: 2rem;
                    border: none !important;
                    margin-left: 0.5rem;
                    font-size: 0.9rem;
                    line-height: 1.5;
                    padding: 2px 0px 0px 3px !important;
                    color: #636fc4;
                    border-radius: 6px !important;
                    border: none !important;
                    transition: color 400ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, background 400ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, box-shadow 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
                    &:hover {
                        background: #c97777ad;
                        box-shadow: #bd52474d 1px 1px 3px 1px;
                        border: none;
                        color: #fff !important;
                    }
                    &:last-child {
                        margin-right: 0.5rem;
                    }
                    & .MuiSvgIcon-root{
                        position: relative;
                        top: -1px;
                        left: 5px;
                    }

                }
                & .Mui-disabled {
                    color: rgba(0, 0, 0, 0.26) !important;
                    -webkit-text-fill-color: rgba(0, 0, 0, 0.26) !important;
                    filter: drop-shadow(1px 1px 3px #ccc);
                }
            }
        }
    
        & .contents_wrap_parents_w {
            display: flex;
        }
    
        & .contents_wrap_parents_h {
            display: flex;
            flex-direction: column;
        }

        & .table_main {
            display: flex;
            flex-direction: column;
            & .table_tr {
                display: flex;
                /* border-bottom: 1px #e5e5e5 solid; */
                margin-bottom: 0.5rem;
                padding: 0.5rem 0rem 0.5rem 0rem;
                & .table_td {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    & .table_tit {
                        /* min-width: 100px; */
                        font-size: 1rem;
                        font-weight: 600;
                        filter: drop-shadow(1px 1px 5px #9b9494);
                        /* background: white; */
                        /* height: 100%; */
                        /* position: relative; */
                        /* align-self: center; */
                        margin-bottom: 1rem;
                        width: fit-content;
                        &::before {
                            content: "";
                            display: inline-block;
                            vertical-align: middle;
                            width: 4px;
                            height: 18px;
                            background: linear-gradient(34deg, rgb(56 81 177 / 79%) 0%, rgb(152 149 229 / 62%) 96%);
                            margin-right: 5px;
                            margin-top: -5px;
                            margin-left: 0.4rem;
                        }
                        &::after {
                            content: "";
                            background-image: url(./style/img/ls_logo_wing.png);
                            position: absolute;
                            background-repeat: no-repeat;
                            background-size: 30px 30px;
                            background-position-x: right;
                            background-position-y: top;
                            filter: drop-shadow(3px 4px 4px #a97474);
                            height: 15px;
                            width: 15px;                       
                        }
                    }
                    & .essential {
                        &::before {
                            content: "";
                            display: inline-block;
                            vertical-align: middle;
                            width: 4px;
                            height: 18px;
                            background: linear-gradient(34deg, rgb(201 31 59 / 98%) 0%, rgb(249 156 227 / 97%) 96%) !important;
                            margin-right: 5px;
                            margin-top: -5px;
                            margin-left: 0.4rem;
                        }
                        &::after {
                            content: "*";
                            background-image: none !important;
                            position: absolute;
                            height: 15px;
                            width: 15px;
                            color: #dc7297;
                            top: -12.9%;
                            font-weight: bold;
                            font-size: 1.1rem;                      
                        }
                    }
                    & .table_contents {
                        width: 100%;
                    }
                }
            }   
        }
        
        & .grid_contents {
            display: flex;
            flex-direction: column;
            margin-top: 0.1rem;
            & .grid_top {
                display: flex;
                height: fit-content;
                & .grid_btn_contents {
                    width: -webkit-fill-available;
                    text-align-last: right;
                    & .btn_group {
                        width: 40px;
                        height: 40px;
                        color: #4452bdcc;
                        filter: drop-shadow(2px 2px 1px #ccc);
                    }
                }
                & .grid_tit {
                    font-size: 0.9rem;
                    line-height: 2.5rem;
                    width: 100%;
                    font-weight: 600;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &:before {
                        content: "";
                        display: inline-flex;
                        vertical-align: middle;
                        width: 4px;
                        height: 15px;
                        background: linear-gradient(34deg, rgba(177, 209, 255, 0.98) 0%, rgba(146, 155, 255, 0.97) 96%) !important;
                        margin-right: 7px;
                        margin-top: -6px;
                        filter: drop-shadow(1px 1px 1px black);
                    }
                    
                }
            }
            
        }
    }
}



/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    padding-bottom: 0.2rem;
    cursor: pointer;
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
	display: block;
	height: 2px;
}
::-webkit-scrollbar-track { 
    background: #d1d8ef;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}
::-webkit-scrollbar-thumb {
    background: #4f75bbc7;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.MuiTextField-root, .MuiOutlinedInput-root {
    background-color: #ffffff;
}

#root {
    height: 100vh;
}

#wrapper {
    height: inherit;
}

.container {
    height: 100vh;
    display: flex;
    background: #f6f7fa;
}

.MuiModal-root {
    background: #3c3c3c61;
    z-index: 10 !important;
    & .MuiBox-root {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .popup.MuiBox-root {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #f6f6f6;
        box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
        border: 0px solid;
        max-height: 95vh;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    @include mobile {
        .popup.MuiBox-root {
            width: calc(100% - 60px) !important;
            margin-left: 30px;
        }
    }
    @include tablet {
        .popup.MuiBox-root {
            width: 100% !important;
        }
    }
}

.MuiMenuItem-root {
    width: 100%;
    min-width: 150px;
}

.fr-popup.fr-desktop {
    z-index: 1000 !important;
}

.MuiIconButton-root {
    color: #4452bdcc !important;
    min-width: 26px;
    min-height: 26px;
    & .MuiSvgIcon-root {
        transition: width 50ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, height 50ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    }
    &:active {
        & .MuiSvgIcon-root {
            
            width: 0.95em !important;
            height: 0.95em !important;
        }
    }
}

.MuiRadio-root {
    min-height: 21px !important;
}

.MuiTextField-root {
    background-color: transparent;
}

.MuiMenuItem-root {
    display: flex !important;
    padding: 0px 10px 0px 10px !important
}

.css-mvmu1r {
    & div {
        width: 36px !important;
    }
}

.css-dhopo2 {
    min-height: 235px !important;
}

.css-1n2mv2k {
    & .MuiTypography-root {
        font-weight: 800;
        &:first-child {
            color: #d54444;
        }

        &:last-child {
            color: #8585e1;
        }
    }
}

.PrivatePickersFadeTransitionGroup-root {
    &:first-child {
        & .css-1v994a0 {
            color: #517ac5;
            font-weight: 700;
            filter: drop-shadow(1px 1px 2px #ccc);
        }    
    }

    & .css-1v994a0 {
        color: #bd6a6a;
        font-weight: 700;
    }
}

.reg_user_info {
    background: #f6f7fa;
    padding: 3px 10px 5px 10px;
    min-height: 75px;
    border-radius: 7px;
    font-size: 1rem;
    overflow: auto;
    border: 1px solid #b7a9a952;
    filter: drop-shadow(0px 0px 3px #ccc);
    & .reg_main_tit {
        filter: drop-shadow(1px 1px 2px #ccc);
        height: 25px;
        font-weight: 700;
        &::before {
            content: "";
            display: inline-flex;
            vertical-align: middle;
            width: 4px;
            height: 15px;
            background: linear-gradient(34deg, rgba(177, 209, 255, 0.98) 0%, rgb(146 155 255 / 97%) 96%) !important;
            margin-right: 7px;
            margin-top: -6px;
            filter: drop-shadow(1px 1px 1px black);
        }
    }
    & .reg_main_contents {
        display: flex;
        flex-direction: column;
        padding: 6px;
        & .user_info_conts {
            display: flex;
            /* flex-direction: column; */
            font-size: 1rem;
            width: 100%;

            & .tit {
                min-width: 65px;
                text-align-last: right;
                padding-right: 20px;
                color: #893939;
                font-weight: 600;
                font-size: 0.9rem;
            }
            & .user_info {
                width: fit-content;
                min-width: 200px;
                font-size: 0.9rem;
                color: #5468cd;
                font-weight: 700;
            }
        }
    }
}

.MuiIconButton-root.Mui-disabled {
    color: rgb(0 0 0 / 26%) !important;
}

.Mui-disabled {
    color: rgb(0 0 0 / 26%) !important;
    -webkit-text-fill-color: rgb(0 0 0 / 87%) !important;
    filter: drop-shadow(1px 1px 3px #ccc);
}

.MuiButtonBase-root {
    & .MuiBadge-badge {
        min-width: 8px !important;
        width: 8px !important;
        height: 8px !important;
        padding: 6px !important;
        opacity: 0.8 !important;
        background: #dd3434 !important;
    }
}

.MuiInputLabel-root {
    font-weight: 700 !important;
}

.gcv-document-view {
    text-align: -webkit-center !important;
}

.PrivateRadioButtonIcon-checked-7 {
    color: #cd7d7d !important;
}