// Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-etc: 501px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop_2: 1440px;
$breakpoint-desktop_1: 1600px;

$font-large: 3rem;
$font-medium: 1.6rem;
$font-default: 1.2rem;
$font-small: 0.8rem;
