.ag-cell {
    & .MuiButton-root {
        height: 32px;
        border: none !important;
        /* margin-bottom: 3px; */
        line-height: 6;
        /* border: 1px solid; */
        position: relative;
        left: -14%;
        font-size: 0.85rem;
        font-weight: 400;
        transition: font-size 75ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, font-weight 75ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        color: #6d8cc5;
        font-weight: 800;
        border-radius: 0px !important;
        &:hover {
            font-size: 0.95rem;
            font-weight: 600;
        }
    }
}